Repository tylerbutler/santa: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Santa CLI, Santa Data

fix: disable GitHub release creation in release-plz (#22)
  .release-plz.toml
Due: none

feat: enhance workspace configuration and CI for multi-package best practices
  .github/workflows/coverage.yml
  .github/workflows/pr.yml
  Cargo.toml
  crates/santa-cli/Cargo.toml
  crates/santa-data/Cargo.toml
  release-plz.toml
Due: unittests, Santa CLI, Santa Data

fix: move cargo-dist config to dist-workspace.toml
  Cargo.toml
  dist-workspace.toml
Due: none

feat: enhance workspace configuration and CI for multi-package best practices (#23)
  .github/workflows/coverage.yml
  .github/workflows/pr.yml
  Cargo.toml
  crates/santa-cli/Cargo.toml
  crates/santa-data/Cargo.toml
  dist-workspace.toml
  release-plz.toml
Due: unittests, Santa CLI, Santa Data

fix(release-plz): correct invalid configuration options
  release-plz.toml
Due: none

chore: release v0.1.3
  Cargo.lock
  Cargo.toml
  crates/santa-cli/CHANGELOG.md
  crates/santa-cli/Cargo.toml
  crates/santa-data/CHANGELOG.md
Due: unittests, Santa CLI, Santa Data

chore: release v0.1.3 (#24)
  Cargo.lock
  Cargo.toml
  crates/santa-cli/CHANGELOG.md
  crates/santa-cli/Cargo.toml
  crates/santa-data/CHANGELOG.md
Due: unittests, Santa CLI, Santa Data

fix(dist): exclude santa-data library from cargo-dist releases
  .github/workflows/release.yml
  crates/santa-data/Cargo.toml
  dist-workspace.toml
Due: unittests, Santa Data

fix(ci): remove duplicate GitHub release creation
  .github/workflows/release.yml
Due: none

chore: release v0.1.4
  Cargo.lock
  Cargo.toml
  crates/santa-cli/Cargo.toml
  crates/santa-data/CHANGELOG.md
Due: unittests, Santa CLI, Santa Data

chore: release v0.1.4 (#25)
  Cargo.lock
  Cargo.toml
  crates/santa-cli/Cargo.toml
  crates/santa-data/CHANGELOG.md
Due: unittests, Santa CLI, Santa Data

fix(dist): use tag-namespace to only trigger on santa-v tags
  .github/workflows/santa-v-release.yml
  cleanup-releases.sh
  dist-workspace.toml
  release-plz.toml
Due: none

feat(sickle): implement CCL parser to replace serde_ccl
  Cargo.lock
  Cargo.toml
  crates/santa-cli/Cargo.toml
  crates/santa-cli/src/configuration.rs
  crates/santa-cli/src/data.rs
  crates/santa-cli/src/data/loaders.rs
  crates/santa-cli/src/errors.rs
  crates/santa-data/Cargo.toml
  crates/santa-data/src/lib.rs
  crates/santa-data/src/schemas.rs
  crates/santa-data/tests/integration_tests.rs
  crates/santa-data/tests/schemas_tests.rs
  crates/sickle/Cargo.toml
  crates/sickle/README.md
  crates/sickle/examples/basic_parsing.rs
  crates/sickle/examples/serde_usage.rs
  crates/sickle/src/de.rs
  crates/sickle/src/error.rs
  crates/sickle/src/lib.rs
  crates/sickle/src/model.rs
  crates/sickle/src/parser.rs
  crates/sickle/tests/integration_tests.rs
Due: unittests, Santa CLI, Santa Data

fix(sickle): enhance Serde deserializer for CCL list syntax
  crates/santa-data/src/lib.rs
  crates/sickle/src/de.rs
Due: unittests, Santa Data

refactor(config): split configuration from santa-cli to santa-data
  Cargo.lock
  crates/santa-cli/src/commands.rs
  crates/santa-cli/src/configuration.rs
  crates/santa-cli/src/configuration_old.rs
  crates/santa-data/Cargo.toml
  crates/santa-data/src/config.rs
  crates/santa-data/src/lib.rs
Due: unittests, Santa CLI, Santa Data

fix(config): resolve compilation errors from architecture split
  crates/santa-cli/src/configuration.rs
  crates/santa-cli/src/configuration/env.rs
  crates/santa-cli/src/configuration/watcher.rs
  crates/santa-cli/src/data.rs
  crates/santa-cli/src/main.rs
  crates/santa-cli/src/sources.rs
  crates/santa-data/src/config.rs
Due: unittests, Santa CLI, Santa Data

chore: format code and remove backup file
  crates/santa-cli/src/commands.rs
  crates/santa-cli/src/configuration.rs
  crates/santa-cli/src/configuration_old.rs
  crates/santa-cli/src/data.rs
  crates/santa-data/src/config.rs
  crates/sickle/src/de.rs
  crates/sickle/src/lib.rs
  crates/sickle/src/model.rs
  crates/sickle/src/parser.rs
  crates/sickle/tests/integration_tests.rs
Due: unittests, Santa CLI, Santa Data

rm unneeded script
  cleanup-releases.sh
Due: none

test: fix test compilation after architecture split
  crates/santa-cli/src/commands/tests.rs
  crates/santa-cli/src/configuration.rs
  crates/santa-cli/src/data.rs
  crates/santa-cli/src/tests.rs
  crates/santa-cli/tests/integration/config_hot_reload.rs
Due: unittests, Santa CLI

move data files into src/
  crates/santa-cli/src/data/config_schema.yaml
  crates/santa-cli/src/data/constants.rs
  crates/santa-cli/src/data/example_simple_packages.ccl
  crates/santa-cli/src/data/known_packages.ccl
  crates/santa-cli/src/data/package_schema.yaml
  crates/santa-cli/src/data/santa-config.ccl
  crates/santa-cli/src/data/sources.ccl
  crates/santa-cli/src/data/sources_schema.yaml
Due: unittests, Santa CLI

fix(sickle): handle equals signs in string values correctly
  crates/sickle/src/de.rs
  crates/sickle/src/lib.rs
  crates/sickle/src/parser.rs
Due: unittests

updates
  crates/santa-cli/src/commands.rs
  crates/santa-cli/src/main.rs
  crates/santa-cli/src/tests.rs
  crates/santa-cli/tests/integration/config_hot_reload.rs
  crates/santa-cli/tests/integration_tests.rs
  crates/santa-data/src/lib.rs
  crates/sickle/src/de.rs
Due: unittests, Santa CLI, Santa Data

format
  crates/sickle/src/lib.rs
Due: unittests

lint
  crates/santa-cli/src/data.rs
  crates/santa-cli/tests/integration/config_hot_reload.rs
  crates/santa-data/src/lib.rs
  crates/santa-data/tests/models_tests.rs
  crates/santa-data/tests/parser_tests.rs
  crates/santa-data/tests/schemas_tests.rs
  crates/sickle/examples/basic_parsing.rs
  crates/sickle/examples/serde_usage.rs
  crates/sickle/src/de.rs
  crates/sickle/src/lib.rs
  crates/sickle/src/parser.rs
  crates/sickle/tests/integration_tests.rs
Due: unittests, Santa CLI, Santa Data

chore(codecov): add sickle crate to coverage tracking
  codecov.yml
Due: none

docs: add READMEs for all workspace crates
  README.md
  crates/santa-cli/README.md
  crates/santa-data/README.md
Due: unittests, Santa CLI, Santa Data

chore(ci): add sickle crate to workspace tooling
  .github/workflows/pr.yml
  release-plz.toml
Due: none

fix(tests): add --builtin-only flag to integration tests
  crates/santa-cli/tests/integration_tests.rs
Due: unittests, Santa CLI

feat(sickle): integrate ccl-test-data JSON test suite
  crates/sickle/tests/integration_tests.rs
  crates/sickle/tests/test_data/README.md
  crates/sickle/tests/test_data/api_comments.json
  crates/sickle/tests/test_data/api_core_ccl_parsing.json
  crates/sickle/tests/test_data/api_typed_access.json
  crates/sickle/tests/test_helpers.rs
Due: unittests

feat(sickle): add justfile task for downloading CCL test data
  crates/sickle/tests/test_data/README.md
  crates/sickle/tests/test_data/api_core_ccl_hierarchy.json
  crates/sickle/tests/test_data/api_core_ccl_integration.json
  justfile
Due: unittests

feat(sickle): add test-ccl justfile task for detailed test results
  justfile
Due: none

docs(sickle): add test-ccl usage to test data README
  crates/sickle/tests/test_data/README.md
Due: unittests

feat(sickle): download entire ccl-test-data folder efficiently
  crates/sickle/tests/test_data/api_advanced_processing.json
  crates/sickle/tests/test_data/api_edge_cases.json
  crates/sickle/tests/test_data/api_errors.json
  crates/sickle/tests/test_data/api_list_access.json
  crates/sickle/tests/test_data/api_proposed_behavior.json
  crates/sickle/tests/test_data/api_reference_compliant.json
  crates/sickle/tests/test_data/property_algebraic.json
  crates/sickle/tests/test_data/property_round_trip.json
  justfile
Due: unittests

docs(sickle): update README to list all 13 test suites
  crates/sickle/tests/test_data/README.md
Due: unittests

format
  crates/sickle/tests/integration_tests.rs
  crates/sickle/tests/test_helpers.rs
Due: unittests

feat(sickle): add comprehensive test running all JSON test cases
  crates/sickle/tests/integration_tests.rs
  justfile
Due: unittests

docs(sickle): update README with comprehensive test results
  crates/sickle/tests/test_data/README.md
Due: unittests

format
  crates/sickle/tests/integration_tests.rs
Due: unittests

test(sickle): Add ccl-test-data test suites (#28)
  crates/sickle/tests/integration_tests.rs
  crates/sickle/tests/test_data/README.md
  crates/sickle/tests/test_data/api_advanced_processing.json
  crates/sickle/tests/test_data/api_comments.json
  crates/sickle/tests/test_data/api_core_ccl_hierarchy.json
  crates/sickle/tests/test_data/api_core_ccl_integration.json
  crates/sickle/tests/test_data/api_core_ccl_parsing.json
  crates/sickle/tests/test_data/api_edge_cases.json
  crates/sickle/tests/test_data/api_errors.json
  crates/sickle/tests/test_data/api_list_access.json
  crates/sickle/tests/test_data/api_proposed_behavior.json
  crates/sickle/tests/test_data/api_reference_compliant.json
  crates/sickle/tests/test_data/api_typed_access.json
  crates/sickle/tests/test_data/property_algebraic.json
  crates/sickle/tests/test_data/property_round_trip.json
  crates/sickle/tests/test_helpers.rs
  justfile
Due: unittests

Path conditions:
  unittests: any of: crates/, but not: tests/, benches/, **/tests.rs, **/test_*.rs
  Santa CLI: any of: crates/santa-cli/**, but not: tests/, benches/, **/tests.rs, **/test_*.rs
  Santa Data: any of: crates/santa-data/**, but not: tests/, benches/, **/tests.rs, **/test_*.rs
