Repository tylerbutler/santa: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, santa-cli, santa-data, sickle, Santa CLI, Santa Data, Sickle CCL Parser

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false

component_management:
  individual_components:
    - component_id: santa-cli
      name: Santa CLI
      paths:
        - crates/santa-cli/**

    - component_id: santa-data
      name: Santa Data
      paths:
        - crates/santa-data/**

    - component_id: sickle
      name: Sickle CCL Parser
      paths:
        - crates/sickle/**

flags:
  unittests:
    paths:
      - crates/
    carryforward: true

  santa-cli:
    paths:
      - crates/santa-cli/
    carryforward: true

  santa-data:
    paths:
      - crates/santa-data/
    carryforward: true

  sickle:
    paths:
      - crates/sickle/
    carryforward: true

comment:
  layout: "reach,diff,flags,tree,components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

ignore:
  - "tests/"
  - "benches/"
  - "**/tests.rs"
  - "**/test_*.rs"

test fixes
  crates/sickle/src/parser.rs
  crates/sickle/tests/data_driven_tests.rs
  crates/sickle/tests/test_helpers.rs
Due: unittests, sickle, Sickle CCL Parser

format
  crates/sickle/tests/data_driven_tests.rs
Due: unittests, sickle, Sickle CCL Parser

fix(sickle): prevent incorrect multiline key joining after complete entries
  crates/sickle/src/parser.rs
Due: unittests, sickle, Sickle CCL Parser

fix(sickle): handle reference_compliant feature in test framework
  crates/sickle/tests/integration_tests.rs
  crates/sickle/tests/test_helpers.rs
Due: unittests, sickle, Sickle CCL Parser

docs(sickle): add issue reference for skipped test
  crates/sickle/tests/test_helpers.rs
Due: none

refactor(sickle): major Model API redesign with data-driven test framework (#29)
  Cargo.lock
  claudedocs/ccl-test-fixing-prompt.md
  claudedocs/test-failures-analysis.md
  crates/santa-cli/Cargo.toml
  crates/santa-cli/data/known_packages.ccl
  crates/santa-cli/src/configuration/watcher.rs
  crates/santa-cli/src/data/loaders.rs
  crates/santa-data/src/lib.rs
  crates/sickle/Cargo.toml
  crates/sickle/docs/capabilities.md
  crates/sickle/examples/basic_parsing.rs
  crates/sickle/scripts/generate_capabilities.py
  crates/sickle/src/de.rs
  crates/sickle/src/lib.rs
  crates/sickle/src/model.rs
  crates/sickle/src/parser.rs
  crates/sickle/tests/data_driven_tests.rs
  crates/sickle/tests/integration_tests.rs
  crates/sickle/tests/test_data/api_edge_cases.json
  crates/sickle/tests/test_data/api_list_access.json
  crates/sickle/tests/test_data/api_proposed_behavior.json
  crates/sickle/tests/test_helpers.rs
  justfile
  test-output.txt
Due: unittests, santa-cli, santa-data, sickle, Santa CLI, Santa Data, Sickle CCL Parser

add some support for anonical_format
  crates/sickle/src/model.rs
  crates/sickle/tests/data_driven_tests.rs
  crates/sickle/tests/test_helpers.rs
Due: unittests, sickle, Sickle CCL Parser

fixes
  crates/sickle/tests/test_data/api_core_ccl_integration.json
  crates/sickle/tests/test_data/api_edge_cases.json
  crates/sickle/tests/test_data/api_list_access.json
  crates/sickle/tests/test_data/api_proposed_behavior.json
  crates/sickle/tests/test_data/api_reference_compliant.json
  crates/sickle/tests/test_data/api_typed_access.json
  crates/sickle/tests/test_helpers.rs
Due: unittests, sickle, Sickle CCL Parser

array sorting
  crates/sickle/src/lib.rs
  crates/sickle/src/model.rs
  crates/sickle/tests/data_driven_tests.rs
  crates/sickle/tests/test_data/api_core_ccl_integration.json
  crates/sickle/tests/test_data/api_list_access.json
  crates/sickle/tests/test_data/api_reference_compliant.json
  crates/sickle/tests/test_helpers.rs
Due: unittests, sickle, Sickle CCL Parser

fix(santa): resolve source-specific package names in status check
  crates/santa-cli/src/commands.rs
  crates/santa-cli/src/commands/tests.rs
  crates/santa-cli/src/sources.rs
Due: unittests, santa-cli, Santa CLI

feat(cli): add optional ratatui terminal UI dashboard
  Cargo.lock
  Cargo.toml
  crates/santa-cli/Cargo.toml
  crates/santa-cli/src/lib.rs
  crates/santa-cli/src/main.rs
  crates/santa-cli/src/tests.rs
  crates/santa-cli/src/tui/app.rs
  crates/santa-cli/src/tui/event.rs
  crates/santa-cli/src/tui/mod.rs
  crates/santa-cli/src/tui/ui.rs
Due: unittests, santa-cli, Santa CLI

tui by default
  crates/santa-cli/Cargo.toml
Due: unittests, santa-cli, Santa CLI

refactor(ci): improve codecov configuration for multi-crate workspace
  .github/workflows/coverage.yml
  codecov.yml
  crates/sickle/tests/common/mod.rs
  crates/sickle/tests/data_driven_tests.rs
  crates/sickle/tests/integration_tests.rs
  deny.toml
Due: unittests, sickle, Sickle CCL Parser

fix(ci): use binary() filter for nextest data-driven tests
  .github/workflows/coverage.yml
Due: none

chore(ci): rename codecov components to match crate names
  codecov.yml
Due: none

ci: improve codecov configuration for multi-crate workspace (#33)
  .github/workflows/coverage.yml
  codecov.yml
  crates/sickle/tests/common/mod.rs
  crates/sickle/tests/data_driven_tests.rs
  crates/sickle/tests/integration_tests.rs
  deny.toml
Due: unittests, sickle, Sickle CCL Parser

fix: add 32-bit architecture support and remove 32-bit Windows CI targets
  .github/workflows/test.yml
  crates/santa-cli/src/data.rs
  crates/santa-data/src/models.rs
Due: unittests, santa-cli, santa-data, Santa CLI, Santa Data

ci: skip CI workflows on draft PRs
  .github/workflows/commit-lint.yml
  .github/workflows/coverage.yml
  .github/workflows/pr.yml
Due: none

ci: optimize coverage workflow to eliminate duplicate Ubuntu builds
  .github/workflows/coverage.yml
  .github/workflows/test.yml
  justfile
Due: none

fix(ci): restore 'Generate Coverage Report' job name for branch protection
  .github/workflows/coverage.yml
Due: none

chore: merge duplicate release-plz config files
  .release-plz.toml
  release-plz.toml
Due: none

fix(release-plz): filter changelog entries by commit scope
  release-plz.toml
Due: none

fix(santa): add 32-bit architecture support and remove 32-bit Windows CI targets (#34)
  .github/workflows/commit-lint.yml
  .github/workflows/coverage.yml
  .github/workflows/pr.yml
  .github/workflows/test.yml
  .release-plz.toml
  crates/santa-cli/src/data.rs
  crates/santa-data/src/models.rs
  justfile
  release-plz.toml
Due: unittests, santa-cli, santa-data, Santa CLI, Santa Data

chore: add script to generate per-crate cliff.toml configs
  scripts/generate-cliff-configs.py
Due: none

fix(ci): use per-crate git-cliff configs for changelog generation
  crates/santa-cli/cliff.toml
  crates/santa-data/cliff.toml
  crates/sickle/cliff.toml
  release-plz.toml
  scripts/generate-cliff-configs.py
Due: unittests, santa-cli, santa-data, sickle, Santa CLI, Santa Data, Sickle CCL Parser

ci: use per-crate git-cliff configs for changelog generation (#35)
  crates/santa-cli/cliff.toml
  crates/santa-data/cliff.toml
  crates/sickle/cliff.toml
  release-plz.toml
  scripts/generate-cliff-configs.py
Due: unittests, santa-cli, santa-data, sickle, Santa CLI, Santa Data, Sickle CCL Parser

fix(ci): resolve release-plz config error and Windows test failure
  .github/workflows/release-plz.yml
  crates/santa-cli/src/sources.rs
  release-plz.toml
Due: unittests, santa-cli, Santa CLI

fix(ci): resolve release-plz config error and Windows test failure (#36)
  .github/workflows/release-plz.yml
  crates/santa-cli/src/sources.rs
  release-plz.toml
Due: unittests, santa-cli, Santa CLI

ci: upgrade actions
  .github/workflows/build.yml
  .github/workflows/commit-lint.yml
  .github/workflows/coverage.yml
  .github/workflows/pr.yml
  .github/workflows/release-plz.yml
  .github/workflows/test.yml
Due: none

fix(santa): resolve source-specific package names in status check (#31)
  crates/santa-cli/src/commands.rs
  crates/santa-cli/src/commands/tests.rs
  crates/santa-cli/src/sources.rs
Due: unittests, santa-cli, Santa CLI

ci: add semver check
  .github/workflows/pr.yml
  crates/santa-cli/src/data/schemas.rs
  crates/santa-data/src/models.rs
  justfile
Due: unittests, santa-cli, santa-data, Santa CLI, Santa Data

ci: split semver check
  .github/workflows/pr.yml
Due: none

ci: further split ci jobs
  .github/workflows/pr.yml
  crates/santa-cli/src/data.rs
Due: unittests, santa-cli, Santa CLI

ci: skip build on main
  .github/workflows/pr.yml
Due: none

ci: skip semver check on main
  .github/workflows/pr.yml
Due: none

chore: release
  Cargo.lock
  Cargo.toml
  crates/santa-cli/Cargo.toml
Due: unittests, santa-cli, Santa CLI

feat(status): add progress feedback during package manager checks
  claudedocs/status_performance_analysis.md
  crates/santa-cli/src/commands.rs
Due: unittests, santa-cli, Santa CLI

feat(status): display package manager query duration
  crates/santa-cli/src/commands.rs
Due: unittests, santa-cli, Santa CLI

feat(sources): add remote source definitions update
  Cargo.lock
  Cargo.toml
  crates/santa-cli/Cargo.toml
  crates/santa-cli/src/lib.rs
  crates/santa-cli/src/main.rs
  crates/santa-cli/src/source_layers.rs
Due: unittests, santa-cli, Santa CLI

ci: kick off on PR changes
  .github/workflows/pr.yml
Due: none
