Repository tylerbutler/santa: changes, and which Codecov flags are due for each by the changed paths.
All: Santa CLI, Santa Data, Sickle CCL Parser

fix: drop vulnerable rustls chain, gitignore generated scripts (#180)
  .changes/unreleased/santa-Security-20260421-214021.yaml
  .gitignore
  Cargo.lock
  crates/santa-cli/Cargo.toml
Due: none

actions
  .github/workflows/auto-tag.yml
  .github/workflows/claude.yml
  .github/workflows/commit-lint.yml
  .github/workflows/coverage.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
Due: none

ci: pin GitHub Actions to commit hashes via ratchet (#182)
  .github/workflows/auto-tag.yml
  .github/workflows/claude.yml
  .github/workflows/commit-lint.yml
  .github/workflows/coverage.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
Due: none

chore(release): santa-v0.3.4, santa-data-v0.4.0, sickle-v0.3.0
  .changes/santa/v0.3.4.md
  .changes/unreleased/santa-Security-20260421-214021.yaml
  crates/santa-cli/CHANGELOG.md
Due: none

feat(sickle): align parser with upstream ccl behavior
  .changes/unreleased/sickle-Changed-20260502-174046.yaml
  Cargo.lock
  crates/sickle/Cargo.toml
  crates/sickle/docs/capabilities.md
  crates/sickle/src/lib.rs
  crates/sickle/src/model.rs
  crates/sickle/src/pacman.rs
  crates/sickle/src/parser.rs
  crates/sickle/src/printer.rs
  crates/sickle/tests/common/mod.rs
  crates/sickle/tests/data_driven_tests.rs
  crates/sickle/tests/test_data/api_advanced_processing.json
  crates/sickle/tests/test_data/api_comments.json
  crates/sickle/tests/test_data/api_core_ccl_hierarchy.json
  crates/sickle/tests/test_data/api_core_ccl_integration.json
  crates/sickle/tests/test_data/api_core_ccl_model.json
  crates/sickle/tests/test_data/api_core_ccl_parsing.json
  crates/sickle/tests/test_data/api_edge_cases.json
  crates/sickle/tests/test_data/api_errors.json
  crates/sickle/tests/test_data/api_filter_predicates.json
  crates/sickle/tests/test_data/api_fuzz_special_chars_seed1.json
  crates/sickle/tests/test_data/api_fuzz_special_chars_seed42.json
  crates/sickle/tests/test_data/api_fuzz_special_chars_seed49.json
  crates/sickle/tests/test_data/api_fuzz_special_chars_seed99.json
  crates/sickle/tests/test_data/api_list_access.json
  crates/sickle/tests/test_data/api_proposed_behavior.json
  crates/sickle/tests/test_data/api_reference_compliant.json
  crates/sickle/tests/test_data/api_typed_access.json
  crates/sickle/tests/test_data/api_whitespace_behaviors.json
  crates/sickle/tests/test_data/property_algebraic.json
  crates/sickle/tests/test_data/property_round_trip.json
Due: Sickle CCL Parser

chore(sickle): make nom dependency required
  .changes/unreleased/sickle-Changed-20260502-175032.yaml
  crates/sickle/Cargo.toml
Due: none

refactor(sickle): simplify parser and fix silent error swallow
  crates/sickle/src/model.rs
  crates/sickle/src/parser.rs
Due: Sickle CCL Parser

format
  crates/sickle/src/parser.rs
Due: Sickle CCL Parser

feat(sickle): add comment-preserving document edit API
  .changes/unreleased/sickle-feat-document-api.yaml
  .changes/unreleased/sickle-fix-blank-line-collision.yaml
  .changes/unreleased/sickle-fix-comment-roundtrip.yaml
  crates/sickle/Cargo.toml
  crates/sickle/src/de.rs
  crates/sickle/src/document.rs
  crates/sickle/src/lib.rs
  crates/sickle/src/model.rs
  crates/sickle/src/printer.rs
  crates/sickle/tests/document_tests.rs
Due: Sickle CCL Parser

feat(sickle): comment-preserving document edit API (#208)
  .changes/unreleased/sickle-feat-document-api.yaml
  .changes/unreleased/sickle-fix-blank-line-collision.yaml
  .changes/unreleased/sickle-fix-comment-roundtrip.yaml
  crates/sickle/Cargo.toml
  crates/sickle/src/de.rs
  crates/sickle/src/document.rs
  crates/sickle/src/lib.rs
  crates/sickle/src/model.rs
  crates/sickle/src/printer.rs
  crates/sickle/tests/document_tests.rs
Due: Sickle CCL Parser

docs: rewrite README and docs to be humble and concise (#210)
  ARCHITECTURE.md
  DEVELOPMENT.md
  README.md
  crates/santa-cli/README.md
  crates/santa-data/README.md
  crates/sickle/README.md
Due: none

chore(release): santa-v0.3.4, santa-data-v0.4.0, sickle-v0.4.0
  .changes/sickle/v0.4.0.md
  .changes/unreleased/sickle-feat-document-api.yaml
  .changes/unreleased/sickle-fix-blank-line-collision.yaml
  .changes/unreleased/sickle-fix-comment-roundtrip.yaml
  crates/sickle/CHANGELOG.md
Due: none

Revert "Release santa-v0.3.4, santa-data-v0.4.0, sickle-v0.4.0 (#209)"
  .changes/sickle/v0.4.0.md
  .changes/unreleased/sickle-feat-document-api.yaml
  .changes/unreleased/sickle-fix-blank-line-collision.yaml
  .changes/unreleased/sickle-fix-comment-roundtrip.yaml
  crates/sickle/CHANGELOG.md
Due: none

fix(release): bump crate Cargo.toml versions via changie replacements
  .changie.yaml
Due: none

fix(release): revert #209 and bump Cargo.toml via changie (#211)
  .changes/sickle/v0.4.0.md
  .changes/unreleased/sickle-feat-document-api.yaml
  .changes/unreleased/sickle-fix-blank-line-collision.yaml
  .changes/unreleased/sickle-fix-comment-roundtrip.yaml
  .changie.yaml
  crates/sickle/CHANGELOG.md
Due: none

chore(release): santa-v0.3.4, santa-data-v0.4.0, sickle-v0.4.0
  .changes/sickle/v0.4.0.md
  .changes/unreleased/sickle-feat-document-api.yaml
  .changes/unreleased/sickle-fix-blank-line-collision.yaml
  .changes/unreleased/sickle-fix-comment-roundtrip.yaml
  crates/santa-cli/Cargo.toml
  crates/santa-data/Cargo.toml
  crates/sickle/CHANGELOG.md
  crates/sickle/Cargo.toml
Due: none

fix(release): bump internal dep requirements and sync Cargo.lock
  .changie.yaml
  .github/workflows/release.yml
Due: none

fix(release): bump internal dep requirements and sync Cargo.lock (#213)
  .changie.yaml
  .github/workflows/release.yml
Due: none

fix(release): conventional release PR title and workspace package verify
  .github/workflows/release.yml
  justfile
Due: none

fix(release): conventional release PR title and workspace package verify (#215)
  .github/workflows/release.yml
  justfile
Due: none

chore(release): santa-v0.3.4, santa-data-v0.4.0, sickle-v0.4.0
  .changes/sickle/v0.4.0.md
  .changes/unreleased/sickle-feat-document-api.yaml
  .changes/unreleased/sickle-fix-blank-line-collision.yaml
  .changes/unreleased/sickle-fix-comment-roundtrip.yaml
  Cargo.lock
  crates/santa-cli/Cargo.toml
  crates/santa-data/Cargo.toml
  crates/sickle/CHANGELOG.md
  crates/sickle/Cargo.toml
Due: none

ci(release): disable omnibor and bump cargo-dist to 0.32.0
  .github/workflows/santa-v-release.yml
  dist-workspace.toml
Due: none

ci(release): disable omnibor on release; bump cargo-dist to 0.32.0 (#216)
  .github/workflows/santa-v-release.yml
  dist-workspace.toml
Due: none

fix(sickle): tighten is_list_syntax() heuristic (#163)
  .changes/unreleased/sickle-fix-is-list-syntax.yaml
  crates/sickle/src/de.rs
Due: Sickle CCL Parser

format
  crates/santa-data/src/config.rs
Due: Santa Data

style: apply cargo fmt
  crates/sickle/src/lib.rs
Due: Sickle CCL Parser

style: apply cargo fmt
  crates/santa-cli/src/configuration.rs
Due: Santa CLI

fix(ci): use space-form flags in download-ccl-tests recipe
  justfile
Due: none

style: apply cargo fmt
  crates/santa-cli/src/commands/tests.rs
  crates/santa-cli/src/completions.rs
  crates/santa-cli/src/configuration.rs
  crates/santa-cli/src/configuration/env.rs
  crates/santa-cli/src/data.rs
  crates/santa-cli/src/data/loaders.rs
  crates/santa-cli/src/sources.rs
  crates/santa-data/src/schemas.rs
Due: Santa CLI, Santa Data

build(deps): enable derive_more features for 2.x
  Cargo.lock
  Cargo.toml
Due: none

fix(deps): add indicatif and unit-prefix to Cargo.lock
  Cargo.lock
Due: none

docs(santa-data): add doc comments to model types (#166)
  .changes/unreleased/santa-data-docs-model-types.yaml
  crates/santa-data/src/models.rs
Due: Santa Data

fix: seal PackageManager and Plugin traits (#172)
  .changes/unreleased/santa-chore-seal-traits.yaml
  crates/santa-cli/src/plugins.rs
  crates/santa-cli/src/sources.rs
  crates/santa-cli/src/traits.rs
  crates/santa-cli/tests/integration/command_execution.rs
  crates/santa-cli/tests/integration/mod.rs
Due: Santa CLI

fix(sickle): add recursion depth limit to build_model (#160)
  .changes/unreleased/sickle-fix-recursion-limit.yaml
  crates/sickle/src/lib.rs
Due: Sickle CCL Parser

fix: add #[non_exhaustive] to public structs (#171)
  .changes/unreleased/santa-data-fix-non-exhaustive-structs.yaml
  .changes/unreleased/santa-data-refactor-reexports.yaml
  .changes/unreleased/santa-fix-non-exhaustive-structs.yaml
  .changes/unreleased/sickle-fix-is-list-syntax.yaml
  crates/santa-cli/src/commands/tests.rs
  crates/santa-cli/src/completions.rs
  crates/santa-cli/src/configuration.rs
  crates/santa-cli/src/configuration/env.rs
  crates/santa-cli/src/configuration/watcher.rs
  crates/santa-cli/src/data.rs
  crates/santa-cli/src/data/loaders.rs
  crates/santa-cli/src/data/schemas.rs
  crates/santa-cli/src/data_layers.rs
  crates/santa-cli/src/main.rs
  crates/santa-cli/src/plugins.rs
  crates/santa-cli/src/source_layers.rs
  crates/santa-cli/src/sources.rs
  crates/santa-cli/src/traits.rs
  crates/santa-cli/tests/integration/cache_behavior.rs
  crates/santa-cli/tests/integration/config_hot_reload.rs
  crates/santa-cli/tests/property_tests.rs
  crates/santa-data/src/config.rs
  crates/santa-data/src/models.rs
  crates/santa-data/src/schemas.rs
  crates/santa-data/tests/integration_tests.rs
  crates/santa-data/tests/models_tests.rs
  crates/santa-data/tests/schemas_tests.rs
Due: Santa CLI, Santa Data

refactor(santa-data): replace glob re-exports with explicit exports (#162)
  crates/santa-data/src/lib.rs
Due: Santa Data

feat(sickle): add update_str and edit_str document helpers
  .changes/unreleased/sickle-Added-20260627-091030.yaml
  crates/sickle/src/document.rs
  crates/sickle/src/lib.rs
  crates/sickle/tests/document_tests.rs
Due: Sickle CCL Parser

build(deps): bump workspace dependencies; reqwest 0.13 rustls feature rename
  Cargo.lock
  crates/santa-cli/Cargo.toml
  crates/sickle-cli/Cargo.toml
  crates/sickle/Cargo.toml
Due: none

fix(deps): bump quinn-proto 0.11.14 -> 0.11.15 (RUSTSEC-2026-0185)
  Cargo.lock
Due: none

chore(deny): ignore RUSTSEC-2026-0173 (proc-macro-error2 unmaintained)
  deny.toml
Due: none

Path conditions:
  Santa CLI: any of: crates/santa-cli/src/**, but not: **/tests/, **/benches/, **/examples/, **/tests.rs, **/test_*.rs, **/test_helpers.rs
  Santa Data: any of: crates/santa-data/src/**, but not: **/tests/, **/benches/, **/examples/, **/tests.rs, **/test_*.rs, **/test_helpers.rs
  Sickle CCL Parser: any of: crates/sickle/src/**, but not: **/tests/, **/benches/, **/examples/, **/tests.rs, **/test_*.rs, **/test_helpers.rs
