Repository tylerbutler/santa: changes, and which Codecov flags are due for each by the changed paths.
All: Santa CLI, Santa Data, Sickle CCL Parser

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    after_n_builds: 2 # Wait for both unittests and datadriven uploads
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 1%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  individual_components:
    - component_id: santa-cli
      name: Santa CLI
      paths:
        - crates/santa-cli/src/**

    - component_id: santa-data
      name: Santa Data
      paths:
        - crates/santa-data/src/**

    - component_id: sickle
      name: Sickle CCL Parser
      paths:
        - crates/sickle/src/**

flag_management:
  default_rules:
    carryforward: false
  individual_flags:
    # Coverage from all tests except data-driven tests
    - name: unittests
      carryforward: false

    # Coverage from sickle's data-driven test suite only
    - name: datadriven
      carryforward: false

comment:
  layout: "reach,diff,flags,tree,components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

ignore:
  - "**/tests/"
  - "**/benches/"
  - "**/examples/"
  - "**/tests.rs"
  - "**/test_*.rs"
  - "**/test_helpers.rs"

justfile
  justfile
Due: none

perf
  mise.toml
Due: none

test updates
  crates/sickle/tests/test_data/api_advanced_processing.json
  crates/sickle/tests/test_data/api_comments.json
  crates/sickle/tests/test_data/api_core_ccl_hierarchy.json
  crates/sickle/tests/test_data/api_core_ccl_integration.json
  crates/sickle/tests/test_data/api_core_ccl_parsing.json
  crates/sickle/tests/test_data/api_edge_cases.json
  crates/sickle/tests/test_data/api_errors.json
  crates/sickle/tests/test_data/api_list_access.json
  crates/sickle/tests/test_data/api_proposed_behavior.json
  crates/sickle/tests/test_data/api_reference_compliant.json
  crates/sickle/tests/test_data/api_typed_access.json
  crates/sickle/tests/test_data/api_whitespace_behaviors.json
  crates/sickle/tests/test_data/property_algebraic.json
  crates/sickle/tests/test_data/property_round_trip.json
Due: none

fix(sickle): update TestCase to support inputs array format
  crates/sickle/tests/common/mod.rs
  crates/sickle/tests/data_driven_tests.rs
Due: none

chore(sickle): update test data and add canonical format support (#52)
  crates/sickle/tests/common/mod.rs
  crates/sickle/tests/data_driven_tests.rs
  crates/sickle/tests/test_data/api_advanced_processing.json
  crates/sickle/tests/test_data/api_comments.json
  crates/sickle/tests/test_data/api_core_ccl_hierarchy.json
  crates/sickle/tests/test_data/api_core_ccl_integration.json
  crates/sickle/tests/test_data/api_core_ccl_parsing.json
  crates/sickle/tests/test_data/api_edge_cases.json
  crates/sickle/tests/test_data/api_errors.json
  crates/sickle/tests/test_data/api_list_access.json
  crates/sickle/tests/test_data/api_proposed_behavior.json
  crates/sickle/tests/test_data/api_reference_compliant.json
  crates/sickle/tests/test_data/api_typed_access.json
  crates/sickle/tests/test_data/api_whitespace_behaviors.json
  crates/sickle/tests/test_data/property_algebraic.json
  crates/sickle/tests/test_data/property_round_trip.json
Due: none

chore: update dependencies
  Cargo.lock
  crates/santa-cli/Cargo.toml
  crates/santa-data/Cargo.toml
  crates/sickle/Cargo.toml
Due: none

feat(sickle): add configurable parser options
  crates/sickle/Cargo.toml
  crates/sickle/src/lib.rs
  crates/sickle/src/options.rs
  crates/sickle/src/parser.rs
  crates/sickle/tests/common/mod.rs
  crates/sickle/tests/data_driven_tests.rs
  justfile
Due: Sickle CCL Parser

format and audit
  crates/sickle/src/lib.rs
  deny.toml
Due: Sickle CCL Parser

chore: update justfile to follow guidelines
  justfile
Due: none

test(e2e): add CLI end-to-end test suite
  crates/santa-cli/tests/e2e/config_tests.rs
  crates/santa-cli/tests/e2e/error_tests.rs
  crates/santa-cli/tests/e2e/mod.rs
  crates/santa-cli/tests/e2e/status_tests.rs
  crates/santa-cli/tests/integration_tests.rs
Due: none

test(property): expand property-based security tests
  crates/santa-cli/tests/property_tests.rs
Due: none

docs: add SECURITY.md with vulnerability reporting policy
  SECURITY.md
Due: none

feat(data): expand package database with 70+ new packages
  crates/santa-cli/data/known_packages.ccl
Due: none

feat(scripts): add package database validation tool
  scripts/validate_data.py
Due: none

docs: add package format documentation
  docs/package-format.md
Due: none

fix(sickle): remove dead_code warnings and enable doc tests
  crates/sickle/src/de.rs
  crates/sickle/src/lib.rs
Due: Sickle CCL Parser

feat(ux): add progress indicators for long operations
  crates/santa-cli/Cargo.toml
  crates/santa-cli/src/commands.rs
Due: Santa CLI

feat(cli): add --dry-run and --no-color flags with output helpers
  crates/santa-cli/src/lib.rs
  crates/santa-cli/src/main.rs
  crates/santa-cli/src/output.rs
Due: Santa CLI

docs: add comprehensive user documentation
  CONTRIBUTING.md
  README.md
  docs/configuration.md
  docs/troubleshooting.md
  docs/user-guide.md
Due: none

feat(cli): Phase 1 CLI features
  crates/santa-cli/src/commands.rs
  crates/santa-cli/src/main.rs
Due: Santa CLI

fixes
  crates/santa-cli/src/commands.rs
  crates/santa-cli/src/main.rs
Due: Santa CLI

fix(tests): update tests for new status_command and add command signatures
  crates/santa-cli/src/commands.rs
  crates/santa-cli/src/commands/tests.rs
  crates/santa-cli/src/tests.rs
  crates/santa-cli/tests/integration_tests.rs
Due: Santa CLI

format
  crates/santa-cli/tests/e2e/config_tests.rs
  crates/santa-cli/tests/e2e/error_tests.rs
  crates/santa-cli/tests/e2e/status_tests.rs
  crates/santa-cli/tests/integration_tests.rs
  crates/santa-cli/tests/property_tests.rs
Due: none

fix(ci): resolve build and security audit failures
  deny.toml
  justfile
Due: none

audit
  deny.toml
Due: none

Delete crates/santa-cli/data/known_packages.ccl.old
  crates/santa-cli/data/known_packages.ccl.old
Due: none

fix(cli): validate packages before config file operations
  crates/santa-cli/src/main.rs
Due: Santa CLI

fix: address PR review feedback and improve test coverage
  crates/santa-cli/data/known_packages.ccl
  crates/santa-cli/src/bin/generate_index.rs
  crates/santa-cli/src/data/loaders.rs
  crates/santa-cli/src/data/schemas.rs
  crates/santa-data/src/schemas.rs
  crates/santa-data/tests/schemas_tests.rs
  crates/sickle/src/model.rs
  crates/sickle/src/printer.rs
Due: Santa CLI, Santa Data, Sickle CCL Parser

feat(cli): add config management and status filtering (#59)
  crates/santa-cli/src/commands.rs
  crates/santa-cli/src/commands/tests.rs
  crates/santa-cli/src/main.rs
  crates/santa-cli/src/tests.rs
  crates/santa-cli/tests/integration_tests.rs
  deny.toml
  justfile
Due: Santa CLI

test(cli): add comprehensive tests for new CLI features
  crates/santa-cli/src/commands/tests.rs
  crates/santa-cli/tests/integration_tests.rs
Due: none

chore(justfile): restore useful development recipes
  justfile
Due: none

format
  crates/santa-cli/src/commands/tests.rs
Due: none

feat(santa-data): reorganize package data by source (#45)
  DEVELOPMENT.md
  crates/santa-cli/Cargo.toml
  crates/santa-cli/data/known_packages.ccl
  crates/santa-cli/data/sources/apt.ccl
  crates/santa-cli/data/sources/aur.ccl
  crates/santa-cli/data/sources/brew.ccl
  crates/santa-cli/data/sources/cargo.ccl
  crates/santa-cli/data/sources/nix.ccl
  crates/santa-cli/data/sources/npm.ccl
  crates/santa-cli/data/sources/pacman.ccl
  crates/santa-cli/data/sources/scoop.ccl
  crates/santa-cli/src/bin/generate_index.rs
  crates/santa-cli/src/data/loaders.rs
  crates/santa-cli/src/data/schemas.rs
  crates/santa-data/src/lib.rs
  crates/santa-data/src/schemas.rs
  crates/santa-data/tests/schemas_tests.rs
  crates/sickle/src/de.rs
  crates/sickle/src/lib.rs
  crates/sickle/src/model.rs
  crates/sickle/src/printer.rs
  crates/sickle/tests/data_driven_tests.rs
  crates/sickle/tests/integration_tests.rs
  justfile
  scripts/collect-packages.py
Due: Santa CLI, Santa Data, Sickle CCL Parser

fix(ci): trigger workflows on ready_for_review event
  .github/workflows/commit-lint.yml
  .github/workflows/coverage.yml
Due: none

test: add tests (#60)
  .github/workflows/commit-lint.yml
  .github/workflows/coverage.yml
  crates/santa-cli/src/commands/tests.rs
  crates/santa-cli/tests/integration_tests.rs
Due: none

docs: address PR review feedback
  CONTRIBUTING.md
  DEVELOPMENT.md
  docs/configuration.md
  docs/troubleshooting.md
Due: none

docs: add comprehensive user documentation (#58)
  CONTRIBUTING.md
  DEVELOPMENT.md
  README.md
  docs/configuration.md
  docs/troubleshooting.md
  docs/user-guide.md
Due: none

Delete SECURITY.md
  SECURITY.md
Due: none

fix(tests): use correct SANTA_CONFIG_PATH env var in E2E tests
  crates/santa-cli/tests/e2e/config_tests.rs
  crates/santa-cli/tests/e2e/error_tests.rs
  crates/santa-cli/tests/e2e/status_tests.rs
Due: none

build: switch bloat command from cargo-bloat to cargo-bloated
  justfile
Due: none
