Repository tylerbutler/santa: changes, and which Codecov flags are due for each by the changed paths.
All: Santa CLI, Santa Data, Sickle CCL Parser

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    after_n_builds: 2 # Wait for both unittests and datadriven uploads
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 1%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  individual_components:
    - component_id: santa-cli
      name: Santa CLI
      paths:
        - crates/santa-cli/src/**

    - component_id: santa-data
      name: Santa Data
      paths:
        - crates/santa-data/src/**

    - component_id: sickle
      name: Sickle CCL Parser
      paths:
        - crates/sickle/src/**

flag_management:
  default_rules:
    carryforward: false
  individual_flags:
    # Coverage from all tests except data-driven tests
    - name: unittests
      carryforward: false

    # Coverage from sickle's data-driven test suite only
    - name: datadriven
      carryforward: false

comment:
  layout: "reach,diff,flags,tree,components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

ignore:
  - "**/tests/"
  - "**/benches/"
  - "**/examples/"
  - "**/tests.rs"
  - "**/test_*.rs"
  - "**/test_helpers.rs"

ci: fix changelog and release tag configuration
  .commitlintrc.json
  .github/workflows/commit-lint.yml
  commit-types.json
  crates/santa-cli/CHANGELOG.md
  crates/santa-cli/cliff.toml
  crates/santa-data/CHANGELOG.md
  crates/santa-data/cliff.toml
  crates/sickle/CHANGELOG.md
  crates/sickle/cliff.toml
  justfile
  release-plz.toml
  scripts/check-configs-sync.py
  scripts/generate-cliff-configs.py
  scripts/generate-commitlint-config.py
Due: none

updates
  crates/sickle/src/lib.rs
  crates/sickle/src/options.rs
  crates/sickle/src/parser.rs
  crates/sickle/tests/common/mod.rs
  crates/sickle/tests/data_driven_tests.rs
  crates/sickle/tests/integration_tests.rs
Due: Sickle CCL Parser

fixes
  coverage/.gitkeep
  crates/sickle/src/lib.rs
  crates/sickle/src/model.rs
  crates/sickle/src/options.rs
  crates/sickle/tests/common/mod.rs
  crates/sickle/tests/data_driven_tests.rs
Due: Sickle CCL Parser

refactor(sickle): improve test output formatting and fix behavior filtering
  Cargo.lock
  Cargo.toml
  crates/sickle/Cargo.toml
  crates/sickle/src/model.rs
  crates/sickle/tests/common/mod.rs
  crates/sickle/tests/data_driven_tests.rs
  crates/sickle/tests/integration_tests.rs
  crates/sickle/tests/test_data/api_typed_access.json
  crates/sickle/tests/test_data/api_whitespace_behaviors.json
Due: Sickle CCL Parser

fix(sickle): sync test data from ccl-test-data source
  crates/sickle/tests/test_data/api_whitespace_behaviors.json
Due: none

fix(sickle): implement strict_spacing and fix get_list duplicate keys
  crates/sickle/src/model.rs
  crates/sickle/src/options.rs
  crates/sickle/src/parser.rs
  crates/sickle/tests/data_driven_tests.rs
Due: Sickle CCL Parser

fix(sickle): preserve tabs when tabs_preserve option is set
  crates/sickle/src/parser.rs
Due: Sickle CCL Parser

fix(sickle): always preserve tabs in trim_value
  crates/sickle/src/parser.rs
Due: Sickle CCL Parser

fix(sickle): improve CRLF and tabs handling in parser
  crates/sickle/src/parser.rs
  crates/sickle/tests/integration_tests.rs
Due: Sickle CCL Parser

format
  crates/sickle/src/model.rs
Due: Sickle CCL Parser

lint
  crates/sickle/src/parser.rs
Due: Sickle CCL Parser

build(just): add ruff formatting for Python scripts
  deny.toml
  justfile
  mise.toml
  scripts/check-configs-sync.py
  scripts/generate-cliff-configs.py
Due: none

feat(santa): add Repology integration for package name discovery
  Cargo.lock
  crates/santa-cli/Cargo.toml
  crates/santa-cli/data/known_packages.ccl
  crates/santa-cli/data/sources/apt.ccl
  crates/santa-cli/data/sources/aur.ccl
  crates/santa-cli/data/sources/cargo.ccl
  crates/santa-cli/src/bin/fetch_repology.rs
  justfile
Due: Santa CLI

feat(santa): add validation mode to fetch-repology
  crates/santa-cli/data/packages.ccl
  crates/santa-cli/src/bin/fetch_repology.rs
  justfile
Due: Santa CLI

refactor(fetch-repology): use clap subcommands and add caching
  DEVELOPMENT.md
  crates/santa-cli/src/bin/fetch_repology.rs
  justfile
Due: Santa CLI

refactor(dev-tools): add shared catalog module and verified filter
  crates/santa-cli/src/bin/generate_index.rs
  crates/santa-cli/src/catalog.rs
  crates/santa-cli/src/lib.rs
  justfile
Due: Santa CLI

feat(fetch-repology): add --fix flag with interactive confirmation
  crates/santa-cli/data/discovery/.gitignore
  crates/santa-cli/data/known_packages.ccl
  crates/santa-cli/data/packages.ccl
  crates/santa-cli/data/santa-config.ccl
  crates/santa-cli/data/sources/aur.ccl
  crates/santa-cli/data/sources/brew.ccl
  crates/santa-cli/src/bin/fetch_repology.rs
Due: Santa CLI

fix(pipeline): add verify-packages step and fix verified field handling
  crates/santa-cli/data/known_packages.ccl
  crates/santa-cli/data/packages.ccl
  crates/santa-cli/data/sources/apt.ccl
  crates/santa-cli/data/sources/arch.ccl
  crates/santa-cli/data/sources/brew.ccl
  crates/santa-cli/data/sources/nix.ccl
  crates/santa-cli/data/sources/scoop.ccl
  crates/santa-cli/src/bin/fetch_repology.rs
  crates/santa-cli/src/bin/merge_verified.rs
  crates/santa-cli/src/catalog.rs
  justfile
Due: Santa CLI

capabilities
  crates/sickle/docs/capabilities.md
Due: none

fix(ci): add ruff installation for Python script formatting
  .github/workflows/pr.yml
Due: none

chore(codecov): exclude dev-tools from coverage
  .github/workflows/pr.yml
  codecov.yml
Due: none

pipelines
  .github/workflows/claude.yml
  .github/workflows/pr.yml
  .github/workflows/release-plz.yml
Due: none

workflow
  .github/workflows/release-plz.yml
Due: none

fix(ci): pin cargo-deny to 0.18.x for CVSS 4.0 support
  .github/workflows/pr.yml
Due: none

tests
  crates/santa-cli/src/catalog.rs
Due: Santa CLI

fix(ci): add --clean flag to coverage to fix mismatched data warning
  justfile
Due: none

fix(ci): remove HTML coverage report to eliminate mismatched data warning
  .github/workflows/coverage.yml
  justfile
  mise.toml
Due: none

ci: remove HTML coverage report to eliminate mismatched data warning (#66)
  .github/workflows/coverage.yml
  mise.toml
Due: none

chore: release
  Cargo.lock
  Cargo.toml
  crates/santa-cli/Cargo.toml
  crates/santa-data/Cargo.toml
  crates/sickle/Cargo.toml
Due: none

fix(sickle): sync test data and fix CRLF behavior tests
  crates/sickle/tests/test_data/api_edge_cases.json
  crates/sickle/tests/test_data/api_reference_compliant.json
  crates/sickle/tests/test_data/api_whitespace_behaviors.json
Due: none

feat(sickle): add configurable parser options (#53)
  Cargo.lock
  Cargo.toml
  coverage/.gitkeep
  crates/sickle/Cargo.toml
  crates/sickle/src/lib.rs
  crates/sickle/src/model.rs
  crates/sickle/src/options.rs
  crates/sickle/src/parser.rs
  crates/sickle/tests/common/mod.rs
  crates/sickle/tests/data_driven_tests.rs
  crates/sickle/tests/integration_tests.rs
  crates/sickle/tests/test_data/api_edge_cases.json
  crates/sickle/tests/test_data/api_reference_compliant.json
  crates/sickle/tests/test_data/api_typed_access.json
  crates/sickle/tests/test_data/api_whitespace_behaviors.json
  justfile
Due: Sickle CCL Parser

build: update download-ccl-tests to use latest release
  justfile
Due: none

fix(santa): resolve clippy dead code warnings in schemas.rs
  crates/santa-cli/src/data/schemas.rs
Due: Santa CLI

fix: allow coverage/.gitkeep while ignoring coverage/ directory
  .gitignore
Due: none

fix: ignore all coverage files while keeping .gitkeep tracked
  .gitignore
Due: none

fix(sickle): support Vec<Struct> serde roundtrip serialization
  crates/sickle/src/ser.rs
Due: Sickle CCL Parser

ci: resolve CI failures from rustdoc and test assertion
  crates/santa-cli/src/commands/tests.rs
  crates/sickle/src/ser.rs
Due: Sickle CCL Parser

chore: release (#64)
  Cargo.lock
  Cargo.toml
  crates/santa-cli/CHANGELOG.md
  crates/santa-cli/Cargo.toml
  crates/santa-data/Cargo.toml
  crates/sickle/CHANGELOG.md
  crates/sickle/Cargo.toml
  metrics/binary-size.txt
  metrics/bloat-sickle.txt
  metrics/bloat.txt
Due: none
