Repository tylerbutler/santa: changes, and which Codecov flags are due for each by the changed paths.
All: Santa CLI, Santa Data, Sickle CCL Parser

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    after_n_builds: 2 # Wait for both unittests and datadriven uploads
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 1%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  individual_components:
    - component_id: santa-cli
      name: Santa CLI
      paths:
        - crates/santa-cli/src/**

    - component_id: santa-data
      name: Santa Data
      paths:
        - crates/santa-data/src/**

    - component_id: sickle
      name: Sickle CCL Parser
      paths:
        - crates/sickle/src/**

flag_management:
  default_rules:
    carryforward: false
  individual_flags:
    # Coverage from all tests except data-driven tests
    - name: unittests
      carryforward: false

    # Coverage from sickle's data-driven test suite only
    - name: datadriven
      carryforward: false

comment:
  layout: "reach,diff,flags,tree,components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

ignore:
  - "**/tests/"
  - "**/benches/"
  - "**/examples/"
  - "**/tests.rs"
  - "**/test_*.rs"
  - "**/test_helpers.rs"

fix(config): respect SANTA_CONFIG_PATH env var in config loading
  crates/santa-cli/src/main.rs
  crates/santa-cli/tests/e2e/config_tests.rs
  crates/santa-cli/tests/e2e/error_tests.rs
  crates/santa-cli/tests/e2e/status_tests.rs
Due: Santa CLI

test: add E2E test suite and fix SANTA_CONFIG_PATH handling (#54)
  crates/santa-cli/src/main.rs
  crates/santa-cli/tests/e2e/config_tests.rs
  crates/santa-cli/tests/e2e/error_tests.rs
  crates/santa-cli/tests/e2e/mod.rs
  crates/santa-cli/tests/e2e/status_tests.rs
  crates/santa-cli/tests/integration_tests.rs
  justfile
Due: Santa CLI

ci: skip verify-package for release-plz PRs
  .github/workflows/pr.yml
Due: none

chore: release
  Cargo.lock
  Cargo.toml
  crates/santa-cli/Cargo.toml
  crates/santa-data/Cargo.toml
  crates/sickle/Cargo.toml
Due: none

fix(deps): upgrade indicatif to fix RUSTSEC-2025-0119
  Cargo.lock
  crates/santa-cli/Cargo.toml
  deny.toml
Due: none

fix: address TODO comments and fix ignored tests
  claudedocs/uninstall-implementation-plan.md
  crates/santa-cli/src/configuration/watcher.rs
  crates/santa-cli/src/data/loaders.rs
  crates/santa-cli/src/main.rs
  crates/sickle/src/de.rs
Due: Santa CLI, Sickle CCL Parser

chore: suppress test warnings and fix deprecated API usage
  crates/santa-cli/tests/e2e/config_tests.rs
  crates/santa-cli/tests/e2e/error_tests.rs
  crates/santa-cli/tests/e2e/status_tests.rs
  crates/sickle/src/de.rs
  crates/sickle/src/ser.rs
Due: Sickle CCL Parser

fix(sickle): parser cleanup and test improvements (#56)
  claudedocs/uninstall-implementation-plan.md
  crates/santa-cli/src/configuration/watcher.rs
  crates/santa-cli/src/data/loaders.rs
  crates/santa-cli/src/main.rs
  crates/santa-cli/tests/e2e/config_tests.rs
  crates/santa-cli/tests/e2e/error_tests.rs
  crates/santa-cli/tests/e2e/status_tests.rs
  crates/sickle/src/de.rs
  crates/sickle/src/lib.rs
  crates/sickle/src/ser.rs
Due: Santa CLI, Sickle CCL Parser

Update justfile
  justfile
Due: none

fix: address PR review feedback
  .github/actions/install-tools/action.yml
  .github/workflows/build.yml
  .github/workflows/coverage.yml
  .github/workflows/pr.yml
  .github/workflows/release-plz.yml
  .github/workflows/test.yml
  justfile
  mise.toml
Due: none

fix: use just tasks instead of direct cargo commands
  .github/workflows/coverage.yml
  .github/workflows/test.yml
  justfile
Due: none

fix: wrap coverage cargo commands in just tasks
  .github/workflows/coverage.yml
  justfile
Due: none

Apply suggestions from code review
  mise.toml
Due: none

fix: update ci task to use just tasks and test-coverage
  justfile
Due: none

ci: add cargo-binstall to mise.toml and use just tasks in workflows (#51)
  .github/workflows/coverage.yml
  .github/workflows/test.yml
  justfile
  mise.toml
Due: none

update
  crates/santa-cli/data/known_packages.ccl
  scripts/justfile
Due: none

upeated
  Cargo.lock
  crates/santa-cli/Cargo.toml
  crates/santa-cli/data/known_packages.ccl
  crates/santa-cli/data/sources/brew.ccl
  crates/santa-cli/data/sources/scoop.ccl
  crates/santa-cli/src/bin/collect_packages.rs
  justfile
Due: Santa CLI

fix(sickle): correct bare list indentation in printer
  crates/sickle/src/printer.rs
  crates/sickle/tests/test_data/api_whitespace_behaviors.json
Due: Sickle CCL Parser

fix(sickle): filter out comments in filter validation tests
  crates/sickle/tests/data_driven_tests.rs
Due: none

test data
  crates/sickle/tests/test_data/api_comments.json
  crates/sickle/tests/test_data/api_edge_cases.json
  crates/sickle/tests/test_data/api_list_access.json
  crates/sickle/tests/test_data/api_proposed_behavior.json
  crates/sickle/tests/test_data/api_reference_compliant.json
  crates/sickle/tests/test_data/api_typed_access.json
Due: none

format
  crates/sickle/tests/data_driven_tests.rs
Due: none

fix(sickle): filter out comments in filter validation tests (#61)
  crates/sickle/src/printer.rs
  crates/sickle/tests/data_driven_tests.rs
  crates/sickle/tests/test_data/api_comments.json
  crates/sickle/tests/test_data/api_edge_cases.json
  crates/sickle/tests/test_data/api_list_access.json
  crates/sickle/tests/test_data/api_proposed_behavior.json
  crates/sickle/tests/test_data/api_reference_compliant.json
  crates/sickle/tests/test_data/api_typed_access.json
  crates/sickle/tests/test_data/api_whitespace_behaviors.json
Due: Sickle CCL Parser

feat(santa): add package catalog for metadata storage
  crates/santa-cli/data/known_packages.ccl
  crates/santa-cli/data/packages.ccl
  crates/santa-cli/data/sources/aur.ccl
  crates/santa-cli/data/sources/brew.ccl
  crates/santa-cli/data/sources/nix.ccl
  crates/santa-cli/data/sources/npm.ccl
  crates/santa-cli/data/sources/scoop.ccl
  crates/santa-cli/src/bin/generate_index.rs
  crates/santa-cli/src/bin/merge_verified.rs
Due: Santa CLI

format
  crates/santa-cli/src/bin/generate_index.rs
Due: Santa CLI

fix(ci): skip verify-package for release-plz PRs by branch name
  .github/workflows/pr.yml
Due: none

ci: skip verify-package for release-plz PRs by branch name (#62)
  .github/workflows/pr.yml
Due: none

build: correct cargo bloated commands
  justfile
Due: none

refactor(santa-cli): remove library crate for binary-only structure
  crates/santa-cli/src/commands.rs
  crates/santa-cli/src/data.rs
  crates/santa-cli/src/lib.rs
  crates/santa-cli/src/main.rs
  crates/santa-cli/src/sources.rs
  crates/santa-cli/src/traits.rs
  crates/santa-cli/tests/integration/cache_behavior.rs
  crates/santa-cli/tests/integration/command_execution.rs
  crates/santa-cli/tests/integration/config_hot_reload.rs
  crates/santa-cli/tests/integration/mod.rs
  crates/santa-cli/tests/integration_tests.rs
  crates/santa-cli/tests/property_tests.rs
  crates/santa-cli/tests/security_tests.rs
Due: Santa CLI

format
  crates/santa-cli/src/sources.rs
Due: Santa CLI

fixcmmwe reikk
  crates/santa-cli/src/configuration.rs
  crates/santa-cli/src/data.rs
Due: Santa CLI

refactor
  crates/santa-cli/Cargo.toml
  crates/santa-cli/benches/subprocess_performance.rs
  crates/santa-cli/src/commands/tests.rs
  crates/santa-cli/src/completions.rs
  crates/santa-cli/src/configuration.rs
  crates/santa-cli/src/configuration/env.rs
  crates/santa-cli/src/configuration/watcher.rs
  crates/santa-cli/src/data.rs
  crates/santa-cli/src/data/loaders.rs
  crates/santa-cli/src/data/schemas.rs
  crates/santa-cli/src/data_layers.rs
  crates/santa-cli/src/errors.rs
  crates/santa-cli/src/source_layers.rs
  crates/santa-cli/tests/e2e/error_tests.rs
Due: Santa CLI

refactor(santa-cli): remove dead code and unused modules
  crates/santa-cli/src/data/loaders.rs
  crates/santa-cli/src/data/schemas.rs
  crates/santa-cli/src/data_layers.rs
  crates/santa-cli/src/errors.rs
  crates/santa-cli/src/main.rs
  crates/santa-cli/src/plugins.rs
  crates/santa-cli/src/script_generator.rs
  crates/santa-cli/src/source_layers.rs
  crates/santa-cli/src/sources.rs
  crates/santa-cli/src/sources/traits.rs
  crates/santa-cli/src/traits.rs
Due: Santa CLI

chore: release (#41)
  Cargo.lock
  Cargo.toml
  crates/santa-cli/CHANGELOG.md
  crates/santa-cli/Cargo.toml
  crates/santa-data/CHANGELOG.md
  crates/santa-data/Cargo.toml
  crates/sickle/CHANGELOG.md
  crates/sickle/Cargo.toml
  metrics/binary-size.txt
  metrics/bloat-sickle.txt
  metrics/bloat.txt
Due: none

ci: add docs-check to PR workflow and fix rustdoc warnings
  .github/workflows/pr.yml
  .github/workflows/test.yml
  crates/sickle/src/model.rs
Due: Sickle CCL Parser

build: update just tasks to mirror CI workflows
  justfile
Due: none

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

ratchet
  .github/workflows/claude.yml
  .github/workflows/pr.yml
  .github/workflows/release-plz.yml
Due: none

ci: add claude workflow (#65)
  .github/workflows/claude.yml
  .github/workflows/pr.yml
  .github/workflows/release-plz.yml
Due: none
