Repository tylerbutler/santa: changes, and which Codecov flags are due for each by the changed paths.
All: Santa CLI, Santa Data, Sickle CCL Parser

fix(santa-cli): stop leaking anyhow::Error through SantaError::Config
  .changes/unreleased/santa-fix-leaking-anyhow.yaml
  crates/santa-cli/src/commands.rs
  crates/santa-cli/src/configuration.rs
  crates/santa-cli/src/errors.rs
Due: Santa CLI

refactor: use pub(crate) for internal items
  .changes/unreleased/santa-refactor-pub-crate.yaml
  crates/sickle-cli/src/bridge.rs
  crates/sickle-cli/src/commands/convert.rs
  crates/sickle-cli/src/commands/fmt.rs
  crates/sickle-cli/src/commands/mod.rs
  crates/sickle-cli/src/commands/parse.rs
  crates/sickle-cli/src/commands/validate.rs
  crates/sickle-cli/src/commands/view.rs
  crates/sickle-cli/src/input.rs
  crates/sickle/src/de.rs
  crates/sickle/src/ser.rs
Due: Sickle CCL Parser

fix(sickle): fix test compilation errors in MapSerializer tests
  Cargo.lock
  crates/sickle/src/ser.rs
Due: Sickle CCL Parser

fix(sickle): preserve duplicate keys in MapSerializer::end() (#159)
  .changes/unreleased/sickle-fix-map-serializer.yaml
  Cargo.lock
  crates/sickle/src/ser.rs
Due: Sickle CCL Parser

refactor: use pub(crate) for internal items (#168)
  .changes/unreleased/santa-refactor-pub-crate.yaml
  crates/sickle-cli/src/bridge.rs
  crates/sickle-cli/src/commands/convert.rs
  crates/sickle-cli/src/commands/fmt.rs
  crates/sickle-cli/src/commands/mod.rs
  crates/sickle-cli/src/commands/parse.rs
  crates/sickle-cli/src/commands/validate.rs
  crates/sickle-cli/src/commands/view.rs
  crates/sickle-cli/src/input.rs
  crates/sickle/src/de.rs
  crates/sickle/src/ser.rs
Due: Sickle CCL Parser

chore: add Breaking changelog kind to changie config
  .changie.yaml
Due: none

fix: add #[non_exhaustive] to public structs in santa-data and santa-cli
  .changes/unreleased/santa-data-fix-parse-ccl.yaml
  .changes/unreleased/santa-data-refactor-reexports.yaml
  .commitlintrc.json
  commit-types.json
  crates/santa-cli/src/commands/tests.rs
  crates/santa-cli/src/completions.rs
  crates/santa-cli/src/configuration.rs
  crates/santa-cli/src/configuration/env.rs
  crates/santa-cli/src/configuration/watcher.rs
  crates/santa-cli/src/data.rs
  crates/santa-cli/src/plugins.rs
  crates/santa-cli/src/sources.rs
  crates/santa-cli/tests/integration/config_hot_reload.rs
  crates/santa-cli/tests/property_tests.rs
  crates/santa-data/tests/integration_tests.rs
  crates/santa-data/tests/models_tests.rs
  crates/santa-data/tests/schemas_tests.rs
Due: Santa CLI

chore: remove subject-case commitlint rule
  .commitlintrc.json
  commit-types.json
Due: none

fix: add #[non_exhaustive] annotations and constructors
  .changes/unreleased/santa-data-fix-non-exhaustive-structs.yaml
  .changes/unreleased/santa-fix-non-exhaustive-structs.yaml
  crates/santa-cli/src/data/schemas.rs
  crates/santa-cli/src/plugins.rs
  crates/santa-cli/src/sources.rs
Due: Santa CLI

chore: add Breaking changelog kind (#170)
  .changie.yaml
  .commitlintrc.json
  commit-types.json
Due: none

chore: update changelog kind to Breaking
  .changes/unreleased/santa-data-fix-parse-ccl.yaml
Due: none

chore: update changelog kind to Breaking
  .changes/unreleased/santa-fix-leaking-anyhow.yaml
Due: none

chore: update changelog kind to Breaking
  .changes/unreleased/santa-data-refactor-reexports.yaml
Due: none

chore: update changelog kind to Breaking
  .changes/unreleased/santa-data-refactor-config-api.yaml
Due: none

fix: seal PackageManager and Plugin traits
  .changes/unreleased/santa-chore-seal-traits.yaml
  crates/santa-cli/src/plugins.rs
  crates/santa-cli/src/sources.rs
  crates/santa-cli/src/traits.rs
Due: Santa CLI

docs: add environment quirks, package names, and changie docs to CLAUDE.md
  CLAUDE.md
Due: none

docs: update CLAUDE.md with environment and workflow context (#173)
  CLAUDE.md
Due: none

fix(santa-data): remove unimplemented parse_ccl() from public API (#164)
  .changes/unreleased/santa-data-fix-parse-ccl.yaml
  crates/santa-data/src/lib.rs
  crates/santa-data/src/parser.rs
  crates/santa-data/tests/integration_tests.rs
  crates/santa-data/tests/parser_tests.rs
Due: Santa Data

fix(sickle)\!: consolidate list API into get_list() and get_list_typed() with ListOptions
  .changes/unreleased/sickle-fix-get-list-typed.yaml
  crates/sickle/src/model.rs
  crates/sickle/tests/data_driven_tests.rs
  crates/sickle/tests/integration_tests.rs
Due: Sickle CCL Parser

fix(sickle)\!: align list coercion with CCL spec
  crates/sickle/src/model.rs
  crates/sickle/tests/integration_tests.rs
Due: Sickle CCL Parser

chore: manage dev tools via mise and add just deps recipe
  justfile
  mise.toml
Due: none

fix(sickle): add convenience get_list() and get_list_typed() methods
  crates/sickle/src/model.rs
  crates/sickle/tests/data_driven_tests.rs
  crates/sickle/tests/integration_tests.rs
Due: Sickle CCL Parser

chore: fix changelog fragment for list API changes
  .changes/unreleased/santa-data-fix-parse-ccl.yaml
  .changes/unreleased/sickle-fix-get-list-typed.yaml
Due: none

chore: restore santa-data changelog fragment from main
  .changes/unreleased/santa-data-fix-parse-ccl.yaml
Due: none

fix(sickle)!: consolidate list API and align with CCL coercion spec (#158)
  .changes/unreleased/sickle-fix-get-list-typed.yaml
  crates/sickle/src/model.rs
  crates/sickle/tests/data_driven_tests.rs
  crates/sickle/tests/integration_tests.rs
  justfile
  mise.toml
Due: Sickle CCL Parser

feat(sickle): add CclReader for configured field access
  crates/sickle/src/lib.rs
  crates/sickle/src/model.rs
  crates/sickle/src/reader.rs
Due: Sickle CCL Parser

fix(sickle)!: align boolean parsing with CCL spec
  .changes/unreleased/sickle-fix-bool-spec.yaml
  .changes/unreleased/sickle-remove-get-bool-lenient.yaml
  crates/sickle/src/model.rs
  crates/sickle/src/reader.rs
  crates/sickle/tests/data_driven_tests.rs
  crates/sickle/tests/integration_tests.rs
Due: Sickle CCL Parser

fix(sickle)!: align boolean parsing with CCL spec
  .changes/unreleased/sickle-fix-bool-spec.yaml
  .changes/unreleased/sickle-remove-get-bool-lenient.yaml
  crates/sickle/src/model.rs
  crates/sickle/tests/data_driven_tests.rs
  crates/sickle/tests/integration_tests.rs
Due: Sickle CCL Parser

Revert "fix(sickle)!: align boolean parsing with CCL spec"
  .changes/unreleased/sickle-fix-bool-spec.yaml
  .changes/unreleased/sickle-remove-get-bool-lenient.yaml
  crates/sickle/src/model.rs
  crates/sickle/src/reader.rs
  crates/sickle/tests/data_driven_tests.rs
  crates/sickle/tests/integration_tests.rs
Due: Sickle CCL Parser

chore: add changelog entry for CclReader
  .changes/unreleased/sickle-feat-ccl-reader.yaml
Due: none

fix: remove unused Error import in reader
  crates/sickle/src/reader.rs
Due: Sickle CCL Parser

feat(sickle): add CclReader for configured field access (#174)
  .changes/unreleased/sickle-feat-ccl-reader.yaml
  crates/sickle/src/lib.rs
  crates/sickle/src/model.rs
  crates/sickle/src/reader.rs
Due: Sickle CCL Parser

fix(sickle)!: align boolean parsing with CCL spec (#175)
  .changes/unreleased/sickle-fix-bool-spec.yaml
  .changes/unreleased/sickle-remove-get-bool-lenient.yaml
  crates/sickle/src/model.rs
  crates/sickle/tests/data_driven_tests.rs
  crates/sickle/tests/integration_tests.rs
Due: Sickle CCL Parser

fix(sickle): update BoolOptions API calls to use builder pattern
  crates/sickle/src/model.rs
  crates/sickle/src/reader.rs
  crates/sickle/src/ser.rs
Due: Sickle CCL Parser

fix: add #[non_exhaustive] to error enums (#161)
  .changes/unreleased/santa-fix-non-exhaustive.yaml
  .changes/unreleased/sickle-fix-non-exhaustive.yaml
  crates/santa-cli/src/errors.rs
  crates/sickle/src/error.rs
  crates/sickle/src/model.rs
  crates/sickle/src/reader.rs
  crates/sickle/src/ser.rs
Due: Santa CLI, Sickle CCL Parser

chore(release): santa-data-v0.4.0, sickle-v0.3.0
  .changes/santa-data/v0.4.0.md
  .changes/santa/v0.3.3.md
  .changes/sickle/v0.3.0.md
  .changes/unreleased/santa-data-fix-parse-ccl.yaml
  .changes/unreleased/santa-fix-non-exhaustive.yaml
  .changes/unreleased/santa-refactor-pub-crate.yaml
  .changes/unreleased/sickle-feat-ccl-reader.yaml
  .changes/unreleased/sickle-fix-bool-spec.yaml
  .changes/unreleased/sickle-fix-get-list-typed.yaml
  .changes/unreleased/sickle-fix-map-serializer.yaml
  .changes/unreleased/sickle-fix-non-exhaustive.yaml
  .changes/unreleased/sickle-remove-get-bool-lenient.yaml
  crates/santa-cli/CHANGELOG.md
  crates/santa-data/CHANGELOG.md
  crates/sickle/CHANGELOG.md
Due: none

ci: MemBrowse integration update
  .github/membrowse-targets.json
  .github/workflows/membrowse-comment.yml
  .github/workflows/membrowse-onboard.yml
  .github/workflows/membrowse-report.yml
Due: none

fix: replace vulnerable rustls chain and gitignore generated scripts
  .gitignore
  Cargo.lock
  crates/santa-cli/Cargo.toml
Due: none

ci: MemBrowse integration update (#179)
  .github/membrowse-targets.json
  .github/workflows/membrowse-comment.yml
  .github/workflows/membrowse-onboard.yml
  .github/workflows/membrowse-report.yml
Due: none

chore: add changelog entry for security fix\n\n🤖 Generated with [Nori](https://noriagentic.com)\n\nCo-Authored-By: Nori <contact@tilework.tech>
  .changes/unreleased/santa-Security-20260421-214021.yaml
Due: none

Path conditions:
  Santa CLI: any of: crates/santa-cli/src/**, but not: **/tests/, **/benches/, **/examples/, **/tests.rs, **/test_*.rs, **/test_helpers.rs
  Santa Data: any of: crates/santa-data/src/**, but not: **/tests/, **/benches/, **/examples/, **/tests.rs, **/test_*.rs, **/test_helpers.rs
  Sickle CCL Parser: any of: crates/sickle/src/**, but not: **/tests/, **/benches/, **/examples/, **/tests.rs, **/test_*.rs, **/test_helpers.rs
