Repository tylerbutler/santa: changes, and which Codecov flags are due for each by the changed paths.
All: Santa CLI, Santa Data, Sickle CCL Parser

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    after_n_builds: 2 # Wait for both unittests and datadriven uploads
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 1%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  individual_components:
    - component_id: santa-cli
      name: Santa CLI
      paths:
        - crates/santa-cli/src/**

    - component_id: santa-data
      name: Santa Data
      paths:
        - crates/santa-data/src/**

    - component_id: sickle
      name: Sickle CCL Parser
      paths:
        - crates/sickle/src/**

flag_management:
  default_rules:
    carryforward: false
  individual_flags:
    # Coverage from all tests except data-driven tests
    - name: unittests
      carryforward: false

    # Coverage from sickle's data-driven test suite only
    - name: datadriven
      carryforward: false

comment:
  layout: "reach,diff,flags,tree,components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

ignore:
  - "**/tests/"
  - "**/benches/"
  - "**/examples/"
  - "**/tests.rs"
  - "**/test_*.rs"
  - "**/test_helpers.rs"

format
  crates/santa-cli/src/commands.rs
Due: Santa CLI

format
  crates/santa-cli/src/source_layers.rs
Due: Santa CLI

audit
  deny.toml
Due: none

feat(status): Add progress feedback during package manager checks (#37)
  claudedocs/status_performance_analysis.md
  crates/santa-cli/src/commands.rs
Due: Santa CLI

feat(sources): add remote source definitions update (#38)
  Cargo.lock
  Cargo.toml
  crates/santa-cli/Cargo.toml
  crates/santa-cli/src/lib.rs
  crates/santa-cli/src/main.rs
  crates/santa-cli/src/source_layers.rs
  deny.toml
Due: Santa CLI

ci: add sbom and provenance info
  .github/workflows/santa-v-release.yml
  .gitignore
  dist-workspace.toml
Due: none

ci: split workspace verification jobs
  .github/workflows/pr.yml
  .github/workflows/release-plz.yml
Due: none

chore: release
  Cargo.lock
  Cargo.toml
  crates/santa-cli/Cargo.toml
Due: none

feat(cli): add --markdown-help flag for documentation generation
  Cargo.lock
  crates/santa-cli/Cargo.toml
  crates/santa-cli/src/main.rs
  crates/santa-cli/src/tests.rs
  crates/santa-cli/tests/integration_tests.rs
Due: Santa CLI

chore: release (#27)
  Cargo.lock
  Cargo.toml
  crates/santa-cli/CHANGELOG.md
  crates/santa-cli/Cargo.toml
  crates/santa-data/CHANGELOG.md
  crates/sickle/CHANGELOG.md
Due: none

feat(sources): add package definitions sync from GitHub
  crates/santa-cli/src/data_layers.rs
  crates/santa-cli/src/lib.rs
  crates/santa-cli/src/main.rs
Due: Santa CLI

format
  crates/santa-cli/src/lib.rs
Due: Santa CLI

fix(ci): enable Codecov PR comments by requiring only 1 build
  codecov.yml
Due: none

test(data_layers): add comprehensive test coverage
  crates/santa-cli/src/data_layers.rs
Due: Santa CLI

format
  crates/santa-cli/src/tests.rs
Due: none

feat: add markdown-help just task and CLI reference
  README.md
  docs/cli-reference.md
  justfile
Due: none

feat(sources): add package definitions sync from GitHub (#40)
  codecov.yml
  crates/santa-cli/src/data_layers.rs
  crates/santa-cli/src/lib.rs
  crates/santa-cli/src/main.rs
Due: Santa CLI

feat(santa): add --markdown-help flag for documentation generation (#39)
  Cargo.lock
  README.md
  crates/santa-cli/Cargo.toml
  crates/santa-cli/src/main.rs
  crates/santa-cli/src/tests.rs
  crates/santa-cli/tests/integration_tests.rs
  docs/cli-reference.md
  justfile
Due: Santa CLI

ci: update changelog config
  crates/santa-cli/cliff.toml
  crates/santa-data/cliff.toml
  crates/sickle/cliff.toml
  scripts/generate-cliff-configs.py
Due: none

feat(sources): display data location and use config directory
  crates/santa-cli/src/data_layers.rs
  crates/santa-cli/src/main.rs
Due: Santa CLI

feat(status): show unknown packages in status output
  crates/santa-cli/src/commands.rs
  crates/santa-cli/src/configuration.rs
  crates/santa-cli/src/main.rs
Due: Santa CLI

format
  crates/santa-cli/src/commands.rs
  crates/santa-cli/src/configuration.rs
Due: Santa CLI

refactor(sickle): rename Model to CclObject and add serde validation tests
  Cargo.lock
  crates/santa-data/src/lib.rs
  crates/sickle/Cargo.toml
  crates/sickle/src/de.rs
  crates/sickle/src/lib.rs
  crates/sickle/src/model.rs
  crates/sickle/tests/data_driven_tests.rs
  crates/sickle/tests/integration_tests.rs
Due: Santa Data, Sickle CCL Parser

refactor(sickle): replace list coercion feature flags with explicit methods
  crates/sickle/Cargo.toml
  crates/sickle/src/lib.rs
  crates/sickle/src/model.rs
  crates/sickle/tests/common/mod.rs
  crates/sickle/tests/data_driven_tests.rs
  crates/sickle/tests/test_data/api_core_ccl_integration.json
  crates/sickle/tests/test_data/api_list_access.json
  crates/sickle/tests/test_data/api_proposed_behavior.json
  crates/sickle/tests/test_data/api_reference_compliant.json
  crates/sickle/tests/test_data/api_typed_access.json
  crates/sickle/tests/test_data/api_whitespace_behaviors.json
Due: Sickle CCL Parser

feat(sickle): add CclPrinter for canonical CCL output
  crates/sickle/src/lib.rs
  crates/sickle/src/printer.rs
  crates/sickle/tests/common/mod.rs
  crates/sickle/tests/data_driven_tests.rs
Due: Sickle CCL Parser

format
  crates/sickle/src/de.rs
  crates/sickle/src/model.rs
  crates/sickle/tests/data_driven_tests.rs
Due: Sickle CCL Parser

refactor(sickle): API cleanup and canonical format printer (#43)
  Cargo.lock
  crates/santa-data/src/lib.rs
  crates/sickle/Cargo.toml
  crates/sickle/src/de.rs
  crates/sickle/src/lib.rs
  crates/sickle/src/model.rs
  crates/sickle/src/printer.rs
  crates/sickle/tests/common/mod.rs
  crates/sickle/tests/data_driven_tests.rs
  crates/sickle/tests/integration_tests.rs
  crates/sickle/tests/test_data/api_core_ccl_integration.json
  crates/sickle/tests/test_data/api_list_access.json
  crates/sickle/tests/test_data/api_proposed_behavior.json
  crates/sickle/tests/test_data/api_reference_compliant.json
  crates/sickle/tests/test_data/api_typed_access.json
  crates/sickle/tests/test_data/api_whitespace_behaviors.json
Due: Santa Data, Sickle CCL Parser

test: exclude known failing tests
  crates/sickle/tests/common/mod.rs
  justfile
Due: none

feat(sickle): add granular feature flags and serde serialization
  Cargo.lock
  crates/sickle/Cargo.toml
  crates/sickle/src/lib.rs
  crates/sickle/src/model.rs
  crates/sickle/src/ser.rs
Due: Sickle CCL Parser

test(sickle): add comprehensive serializer tests
  crates/sickle/src/ser.rs
Due: Sickle CCL Parser

format
  crates/sickle/src/ser.rs
Due: Sickle CCL Parser

feat(scripts): add multi-source package collectors
  scripts/.gitignore
  scripts/collect_all.py
  scripts/collectors/__init__.py
  scripts/collectors/awesome_cli_apps.py
  scripts/collectors/base.py
  scripts/collectors/flathub.py
  scripts/collectors/homebrew.py
  scripts/collectors/modern_unix.py
  scripts/collectors/scoop.py
  scripts/collectors/toolleeo.py
  scripts/data/raw/.gitkeep
  scripts/justfile
  scripts/models.py
  scripts/pyproject.toml
  scripts/uv.lock
Due: none

feat(scripts): add cross-reference and CCL generation pipeline
  scripts/.gitignore
  scripts/crossref_packages.py
  scripts/generate_ccl.py
  scripts/justfile
  scripts/verify_packages.py
Due: none

justfile
  scripts/justfile
Due: none

feat(scripts): enhance CCL generation with merge and alphabetical sorting
  crates/santa-cli/data/known_packages.ccl
  scripts/generate_ccl.py
Due: none

docs(scripts): document package collection pipeline
  scripts/README.md
Due: none

arch and aur collectors
  scripts/.gitignore
  scripts/README.md
  scripts/collect_all.py
  scripts/collectors/__init__.py
  scripts/collectors/arch.py
  scripts/collectors/aur.py
  scripts/collectors/flathub.py
  scripts/collectors/scoop.py
  scripts/justfile
Due: none

update
  crates/santa-cli/data/known_packages.ccl
Due: none

feat: reorganize package data by source with index generation
  crates/santa-cli/Cargo.toml
  crates/santa-cli/data/known_packages.ccl.old
  crates/santa-cli/data/sources/apt.ccl
  crates/santa-cli/data/sources/aur.ccl
  crates/santa-cli/data/sources/brew.ccl
  crates/santa-cli/data/sources/cargo.ccl
  crates/santa-cli/data/sources/nix.ccl
  crates/santa-cli/data/sources/npm.ccl
  crates/santa-cli/data/sources/pacman.ccl
  crates/santa-cli/data/sources/scoop.ccl
  crates/santa-cli/src/bin/generate_index.rs
  justfile
Due: Santa CLI

feat: update package collection script for source-organized CCL output
  scripts/collect-packages.py
Due: none
