Repository tylerbutler/santa: changes, and which Codecov flags are due for each by the changed paths.
All: Santa CLI, Santa Data, Sickle CCL Parser

docs: add comprehensive development guide with package data pipeline
  DEVELOPMENT.md
Due: none

feat(sickle): use Vec-based internal structure for CCL duplicate key support
  crates/santa-cli/src/bin/generate_index.rs
  crates/sickle/src/de.rs
  crates/sickle/src/lib.rs
  crates/sickle/src/model.rs
  crates/sickle/src/printer.rs
  crates/sickle/tests/data_driven_tests.rs
  crates/sickle/tests/integration_tests.rs
Due: Santa CLI, Sickle CCL Parser

feat: add package description support
  crates/santa-cli/src/bin/generate_index.rs
  crates/santa-data/src/schemas.rs
  scripts/collect-packages.py
Due: Santa CLI, Santa Data

chore: regenerate package index
  crates/santa-cli/data/known_packages.ccl
Due: none

perf(scripts): parallelize package collection
  scripts/collect_all.py
  scripts/collectors/arch.py
Due: none

perf(scripts): use local data for package verification
  crates/santa-cli/data/known_packages.ccl
  scripts/verify_packages.py
Due: none

chore(scripts): increase pipeline limits to 500
  scripts/justfile
Due: none

update know packages
  crates/santa-cli/data/known_packages.ccl
  scripts/justfile
Due: none

fix(sickle): resolve clippy lint errors in serializer
  crates/sickle/src/ser.rs
Due: Sickle CCL Parser

test(sickle): add comprehensive serializer test coverage
  Cargo.lock
  crates/sickle/Cargo.toml
  crates/sickle/src/ser.rs
Due: Sickle CCL Parser

feat(sickle): add granular feature flags and serde serialization (#44)
  Cargo.lock
  crates/sickle/Cargo.toml
  crates/sickle/src/lib.rs
  crates/sickle/src/model.rs
  crates/sickle/src/ser.rs
Due: Sickle CCL Parser

tests
  crates/santa-cli/src/configuration.rs
  crates/santa-cli/src/data_layers.rs
Due: Santa CLI

feat(santa): display data location and use config directory (#42)
  crates/santa-cli/src/commands.rs
  crates/santa-cli/src/configuration.rs
  crates/santa-cli/src/data_layers.rs
  crates/santa-cli/src/main.rs
Due: Santa CLI

chore: release
  Cargo.lock
  Cargo.toml
  crates/santa-cli/Cargo.toml
  crates/santa-data/Cargo.toml
  crates/sickle/Cargo.toml
Due: none

format
  crates/santa-cli/src/bin/generate_index.rs
  crates/santa-data/src/schemas.rs
  crates/sickle/src/de.rs
  crates/sickle/src/model.rs
  crates/sickle/tests/data_driven_tests.rs
Due: Santa CLI, Santa Data, Sickle CCL Parser

fixes
  crates/santa-data/src/lib.rs
  crates/sickle/src/de.rs
  crates/sickle/src/lib.rs
  crates/sickle/src/model.rs
Due: Santa Data, Sickle CCL Parser

perf: optimize release binary size with LTO and stripping
  Cargo.toml
  scripts/analyze-binary-size.sh
Due: none

perf(santa): replace ureq and tera with lighter alternatives
  Cargo.lock
  Cargo.toml
  crates/santa-cli/Cargo.toml
  crates/santa-cli/src/data_layers.rs
  crates/santa-cli/src/script_generator.rs
  crates/santa-cli/src/source_layers.rs
Due: Santa CLI

tasks
  justfile
  metrics/bloat.txt
Due: none

reports
  crates/sickle/Cargo.toml
  justfile
  metrics/bloat-sickle.txt
  metrics/bloat.txt
Due: none

ci: make semver check informational with PR comments
  .github/workflows/pr.yml
Due: none

refactor: remove serde_yaml dependency and migration module
  Cargo.lock
  Cargo.toml
  crates/santa-cli/Cargo.toml
  crates/santa-cli/src/commands.rs
  crates/santa-cli/src/configuration.rs
  crates/santa-cli/src/data.rs
  crates/santa-cli/src/data/loaders.rs
  crates/santa-cli/src/data/schemas.rs
  crates/santa-cli/src/lib.rs
  crates/santa-cli/src/migration.rs
  crates/santa-cli/src/migration/yaml_to_hocon.rs
  crates/santa-cli/src/traits.rs
  crates/santa-cli/tests/integration_tests.rs
  crates/santa-cli/tests/property_tests.rs
Due: Santa CLI

ci: always exit 0 from semver check for green UI status
  .github/workflows/pr.yml
Due: none

ci: compare semver against main branch merge base
  .github/workflows/pr.yml
Due: none

ci: make semver check informational with PR comments (#49)
  .github/workflows/pr.yml
Due: none

ci: add check for unexpected file changes after build
  .github/workflows/pr.yml
Due: none

build
  metrics/bloat.txt
  scripts/analyze-binary-size.sh
Due: none

feat: add binary size tracking to release workflow
  .github/workflows/release-plz.yml
  justfile
  metrics/binary-size.txt
Due: none

perf: optimize release binary size and add size tracking (#48)
  .github/workflows/pr.yml
  .github/workflows/release-plz.yml
  Cargo.toml
  crates/sickle/Cargo.toml
  justfile
  metrics/binary-size.txt
  metrics/bloat-sickle.txt
  metrics/bloat.txt
Due: none

script
  justfile
Due: none

size
  metrics/binary-size.txt
Due: none

test: add coverage for MiniJinja template rendering
  crates/santa-cli/src/script_generator.rs
Due: Santa CLI

ci: increase codecov patch threshold to 10%
  codecov.yml
Due: none

format
  crates/santa-cli/src/script_generator.rs
Due: Santa CLI

perf(santa): replace ureq and tera with lighter alternatives (#47)
  Cargo.lock
  Cargo.toml
  codecov.yml
  crates/santa-cli/Cargo.toml
  crates/santa-cli/src/data_layers.rs
  crates/santa-cli/src/script_generator.rs
  crates/santa-cli/src/source_layers.rs
  justfile
  metrics/binary-size.txt
Due: Santa CLI

fix(santa-cli): add default-run to resolve binary ambiguity
  crates/santa-cli/Cargo.toml
  docs/cli-reference.md
Due: none

docs
  docs/cli-reference.md
Due: none

fix(ci): disable color output in semver-checks
  .github/workflows/pr.yml
Due: none

refactor: remove serde_yaml dependency and migration module (#50)
  .github/workflows/pr.yml
  Cargo.lock
  Cargo.toml
  crates/santa-cli/Cargo.toml
  crates/santa-cli/src/commands.rs
  crates/santa-cli/src/configuration.rs
  crates/santa-cli/src/data.rs
  crates/santa-cli/src/data/loaders.rs
  crates/santa-cli/src/data/schemas.rs
  crates/santa-cli/src/lib.rs
  crates/santa-cli/src/migration.rs
  crates/santa-cli/src/migration/yaml_to_hocon.rs
  crates/santa-cli/src/traits.rs
  crates/santa-cli/tests/integration_tests.rs
  crates/santa-cli/tests/property_tests.rs
Due: Santa CLI

ci: migrate to mise for tool management
  .github/actions/install-tools/action.yml
  .github/workflows/build.yml
  .github/workflows/coverage.yml
  .github/workflows/pr.yml
  .github/workflows/release-plz.yml
  .github/workflows/test.yml
  justfile
  mise.toml
Due: none

Path conditions:
  Santa CLI: any of: crates/santa-cli/src/**, but not: **/tests/, **/benches/, **/examples/, **/tests.rs, **/test_*.rs, **/test_helpers.rs
  Santa Data: any of: crates/santa-data/src/**, but not: **/tests/, **/benches/, **/examples/, **/tests.rs, **/test_*.rs, **/test_helpers.rs
  Sickle CCL Parser: any of: crates/sickle/src/**, but not: **/tests/, **/benches/, **/examples/, **/tests.rs, **/test_*.rs, **/test_helpers.rs
