Repository tylerbutler/santa: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Santa CLI, Santa Data

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false

component_management:
  individual_components:
    - component_id: santa-cli
      name: Santa CLI
      paths:
        - crates/santa-cli/**

    - component_id: santa-data
      name: Santa Data
      paths:
        - crates/santa-data/**

flags:
  unittests:
    paths:
      - crates/
    carryforward: true

comment:
  layout: "reach,diff,flags,tree,components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

ignore:
  - "tests/"
  - "benches/"
  - "**/tests.rs"
  - "**/test_*.rs"

chore: add codecov configuration for workspace structure (#7)
  codecov.yml
Due: none

fix: add Windows package manager to default config sources
  crates/santa-cli/data/santa-config.ccl
Due: unittests, Santa CLI

fix: add Windows package manager to default config sources (#8)
  crates/santa-cli/data/santa-config.ccl
Due: unittests, Santa CLI

fix: add version requirement for santa-data dependency
  crates/santa-cli/Cargo.toml
Due: unittests, Santa CLI

fix: correct README path in santa-cli Cargo.toml
  crates/santa-cli/Cargo.toml
Due: unittests, Santa CLI

gitignore
  .gitignore
Due: none

fix: correct README path in santa-cli Cargo.toml (#9)
  .gitignore
  crates/santa-cli/Cargo.toml
Due: unittests, Santa CLI

build: revert santa-cli version
  crates/santa-cli/Cargo.toml
Due: unittests, Santa CLI

build: revert santa-cli version (#10)
  crates/santa-cli/Cargo.toml
Due: unittests, Santa CLI

chore: remove unused dependencies and fix clippy warnings
  Cargo.lock
  crates/santa-cli/Cargo.toml
  crates/santa-data/Cargo.toml
Due: unittests, Santa CLI, Santa Data

laude
  CLAUDE.md
Due: none

refactor: remove unused dependencies and fix clippy warnings (#12)
  CLAUDE.md
  Cargo.lock
  crates/santa-cli/Cargo.toml
  crates/santa-data/Cargo.toml
Due: unittests, Santa CLI, Santa Data

refactor: remove unused code
  crates/ccl-parser/Cargo.toml
  crates/ccl-parser/src/lib.rs
  crates/ccl-parser/src/parser.rs
  crates/santa-cli/Cargo.toml
Due: unittests, Santa CLI

refactor: remove unused code (#13)
  crates/ccl-parser/Cargo.toml
  crates/ccl-parser/src/lib.rs
  crates/ccl-parser/src/parser.rs
  crates/santa-cli/Cargo.toml
Due: unittests, Santa CLI

fix: use RELEASE_PLZ_TOKEN to trigger CI on release PRs
  .github/workflows/release-plz.yml
Due: none

fix: use RELEASE_PLZ_TOKEN to trigger CI on release PRs (#15)
  .github/workflows/release-plz.yml
Due: none

chore: release v0.1.1
  Cargo.lock
  Cargo.toml
  crates/santa-cli/Cargo.toml
  crates/santa-data/CHANGELOG.md
Due: unittests, Santa CLI, Santa Data

ci: add package verification to PR workflow
  .github/workflows/pr.yml
  justfile
Due: none

fix: move templates into santa-cli crate for cargo packaging
  crates/santa-cli/src/script_generator.rs
  crates/santa-cli/templates/check.ps1.tera
  crates/santa-cli/templates/check.sh.tera
  crates/santa-cli/templates/install.ps1.tera
  crates/santa-cli/templates/install.sh.tera
Due: unittests, Santa CLI

chore: set santa version to 0.1.0
  .github/workflows/pr.yml
  crates/santa-cli/Cargo.toml
Due: unittests, Santa CLI

chore(santa): release v0.1.1
  crates/santa-cli/Cargo.toml
Due: unittests, Santa CLI

format
  crates/santa-cli/src/script_generator.rs
Due: unittests, Santa CLI

chore(santa): release v0.1.1 (#16)
  crates/santa-cli/Cargo.toml
  crates/santa-cli/src/script_generator.rs
Due: unittests, Santa CLI

fix: add release event trigger to cargo-dist workflow
  .github/workflows/release.yml
Due: none

fix: use RELEASE_PLZ_TOKEN to trigger release CI
  .github/workflows/release-plz.yml
Due: none

feat(ci): add setup-rust composite action
  .github/actions/setup-rust/action.yml
Due: none

feat(ci): add install-tools composite action
  .github/actions/install-tools/action.yml
Due: none

refactor(ci): consolidate release-plz jobs using matrix
  .github/workflows/release-plz.yml
Due: none

refactor(ci): use composite actions in pr.yml
  .github/workflows/pr.yml
Due: none

refactor(ci): use composite actions in test.yml
  .github/workflows/test.yml
Due: none

refactor(ci): use composite actions in build.yml
  .github/workflows/build.yml
Due: none

refactor(ci): use composite actions in coverage.yml
  .github/workflows/coverage.yml
Due: none

refactor(ci): DRY improvements with composite actions (#18)
  .github/actions/install-tools/action.yml
  .github/actions/setup-rust/action.yml
  .github/workflows/build.yml
  .github/workflows/coverage.yml
  .github/workflows/pr.yml
  .github/workflows/release-plz.yml
  .github/workflows/test.yml
Due: none

fix: make source system extensible without code changes
  crates/santa-cli/src/data.rs
  crates/santa-cli/src/data/loaders.rs
  crates/santa-data/src/models.rs
Due: unittests, Santa CLI, Santa Data

test: add comprehensive coverage for extensible source system
  crates/santa-cli/src/data/loaders.rs
  crates/santa-data/tests/models_tests.rs
Due: unittests, Santa CLI, Santa Data

fix: make source system extensible without code changes (#19)
  crates/santa-cli/src/data.rs
  crates/santa-cli/src/data/loaders.rs
  crates/santa-data/src/models.rs
  crates/santa-data/tests/models_tests.rs
Due: unittests, Santa CLI, Santa Data

chore: release v0.1.2
  Cargo.lock
  Cargo.toml
  crates/santa-cli/CHANGELOG.md
  crates/santa-cli/Cargo.toml
  crates/santa-data/CHANGELOG.md
Due: unittests, Santa CLI, Santa Data

chore: release v0.1.2 (#20)
  Cargo.lock
  Cargo.toml
  crates/santa-cli/CHANGELOG.md
  crates/santa-cli/Cargo.toml
  crates/santa-data/CHANGELOG.md
Due: unittests, Santa CLI, Santa Data

fix: prevent duplicate release creation in CI workflow
  .github/workflows/release.yml
Due: none

fix: disable GitHub release creation in release-plz
  .release-plz.toml
Due: none
