Repository tylerbutler/santa: changes, and which Codecov flags are due for each by the changed paths.
All: Santa CLI, Santa Data, Sickle CCL Parser

fix: update changie-check action pin to version with projects input
  .github/workflows/pr.yml
Due: none

fix: deserialize single scalar value into Vec<T> (#133)
  .changes/unreleased/sickle-Fixed-20260326-120000.yaml
  .claude/skills/changelog-entry/SKILL.md
  .github/workflows/pr.yml
  .gitignore
  crates/sickle/src/de.rs
Due: Sickle CCL Parser

chore: use GitHub App token in release and auto-tag workflows
  .github/workflows/auto-tag.yml
  .github/workflows/release.yml
Due: none

chore: use GitHub App token in release and auto-tag workflows (#134)
  .github/workflows/auto-tag.yml
  .github/workflows/release.yml
Due: none

chore(release): santa-data-v0.3.3, sickle-v0.2.0
  .changes/santa-data/v0.3.3.md
  .changes/sickle/v0.2.0.md
  .changes/unreleased/santa-data-Fixed-20260217-190002.yaml
  .changes/unreleased/sickle-Added-20260217-190001.yaml
  .changes/unreleased/sickle-Added-20260305-120000.yaml
  .changes/unreleased/sickle-Added-20260305-120001.yaml
  .changes/unreleased/sickle-Added-20260305-120002.yaml
  .changes/unreleased/sickle-Fixed-20260217-155847.yaml
  .changes/unreleased/sickle-Fixed-20260217-190000.yaml
  .changes/unreleased/sickle-Fixed-20260326-120000.yaml
  crates/santa-cli/CHANGELOG.md
  crates/santa-data/CHANGELOG.md
  crates/sickle-cli/CHANGELOG.md
  crates/sickle/CHANGELOG.md
Due: none

ci: add crates.io publish step to auto-tag workflow
  .github/workflows/auto-tag.yml
Due: none

ci: add workflow_dispatch trigger for manual crate publishing
  .github/workflows/auto-tag.yml
Due: none

ci: add crates.io publish step to release pipeline (#135)
  .github/workflows/auto-tag.yml
Due: none

ci: use changie-release action with cascade version bumps
  .github/workflows/auto-tag.yml
  crates/santa-cli/Cargo.toml
  crates/santa-data/Cargo.toml
Due: none

ci: use changie-release action with cascade version bumps (#136)
  .github/workflows/auto-tag.yml
  crates/santa-cli/Cargo.toml
  crates/santa-data/Cargo.toml
Due: none

chore: bump crate versions to match release tags
  crates/santa-cli/Cargo.toml
  crates/santa-data/Cargo.toml
  crates/sickle/Cargo.toml
Due: none

fix: only distribute santa binary in cargo-dist
  crates/santa-cli/Cargo.toml
Due: none

fix: use per-platform binaries map for cargo-dist
  crates/santa-cli/Cargo.toml
Due: none

feat: add interactive terminal UI for package management
  Cargo.lock
  crates/santa-cli/Cargo.toml
  crates/santa-cli/src/lib.rs
  crates/santa-cli/src/main.rs
  crates/santa-cli/src/tui/app.rs
  crates/santa-cli/src/tui/event.rs
  crates/santa-cli/src/tui/mod.rs
  crates/santa-cli/src/tui/ui.rs
  justfile
Due: Santa CLI

feat(sickle): standardize ccl-test-data download with version tracking
  .github/actions/download-ccl-tests/action.yml
  .github/workflows/coverage.yml
  .github/workflows/pr.yml
  .github/workflows/test.yml
  crates/sickle/tests/test_data/.gitignore
  crates/sickle/tests/test_data/README.md
  crates/sickle/tests/test_data/api_advanced_processing.json
  crates/sickle/tests/test_data/api_comments.json
  crates/sickle/tests/test_data/api_core_ccl_hierarchy.json
  crates/sickle/tests/test_data/api_core_ccl_integration.json
  crates/sickle/tests/test_data/api_core_ccl_parsing.json
  crates/sickle/tests/test_data/api_edge_cases.json
  crates/sickle/tests/test_data/api_errors.json
  crates/sickle/tests/test_data/api_fuzz_special_chars_seed1.json
  crates/sickle/tests/test_data/api_fuzz_special_chars_seed42.json
  crates/sickle/tests/test_data/api_fuzz_special_chars_seed49.json
  crates/sickle/tests/test_data/api_fuzz_special_chars_seed99.json
  crates/sickle/tests/test_data/api_list_access.json
  crates/sickle/tests/test_data/api_proposed_behavior.json
  crates/sickle/tests/test_data/api_reference_compliant.json
  crates/sickle/tests/test_data/api_typed_access.json
  crates/sickle/tests/test_data/api_whitespace_behaviors.json
  crates/sickle/tests/test_data/property_algebraic.json
  crates/sickle/tests/test_data/property_round_trip.json
  justfile
Due: none

refactor: delegate download-ccl-tests to tylerbutler/actions
  .github/actions/download-ccl-tests/action.yml
Due: none

chore: pin download-ccl-tests to merged SHA
  .github/actions/download-ccl-tests/action.yml
Due: none

refactor: use just download-ccl-tests in CI instead of composite action
  .github/actions/download-ccl-tests/action.yml
  .github/workflows/coverage.yml
  .github/workflows/pr.yml
  .github/workflows/test.yml
  Cargo.lock
  santa_install_20260328_031240.sh
Due: none

chore: remove accidentally committed file
  santa_install_20260328_031240.sh
Due: none

fix: pin ccl-test-data default to v0.6.0
  crates/sickle/tests/test_data/README.md
  justfile
Due: none

refactor: use committed .version file as pinned version source
  crates/sickle/tests/test_data/.gitignore
  crates/sickle/tests/test_data/.version
  justfile
Due: none

refactor: use just read() to load .version instead of cat
  justfile
Due: none

refactor: use ccl-download-tests CLI instead of custom bash script
  justfile
  mise.toml
Due: none

fix: use correct binary name for ccl-test-runner-ts in justfile
  justfile
Due: none

fix: separate version pin from download status marker
  crates/sickle/tests/test_data/.gitignore
  crates/sickle/tests/test_data/.pinned-version
  crates/sickle/tests/test_data/.version
  justfile
Due: none

fix(sickle): remove trailing space after = for section keys in print()
  crates/sickle/src/printer.rs
Due: Sickle CCL Parser

fix(sickle): allow round-trip improvements over test data expectations
  crates/sickle/tests/data_driven_tests.rs
Due: none

Revert "fix(sickle): allow round-trip improvements over test data expectations"
  crates/sickle/tests/data_driven_tests.rs
Due: none

chore(sickle): bump ccl-test-data to v0.7.1
  crates/sickle/tests/test_data/.pinned-version
Due: none

fix(sickle): handle new v0.7.1 test cases for parse_indented, build_hierarchy, and get_list
  crates/sickle/src/lib.rs
  crates/sickle/src/model.rs
Due: Sickle CCL Parser

fix(sickle): return single-item in get_list_typed() instead of empty Vec
  .changes/unreleased/sickle-fix-get-list-typed.yaml
  crates/sickle/src/model.rs
Due: Sickle CCL Parser

fix(sickle): preserve duplicate keys in MapSerializer::end()
  .changes/unreleased/sickle-fix-map-serializer.yaml
  crates/sickle/src/ser.rs
Due: Sickle CCL Parser

fix(sickle): add recursion depth limit to build_model
  .changes/unreleased/sickle-fix-recursion-limit.yaml
  crates/sickle/src/lib.rs
Due: Sickle CCL Parser

fix: add #[non_exhaustive] to SantaError and sickle::Error enums
  .changes/unreleased/santa-fix-non-exhaustive.yaml
  .changes/unreleased/sickle-fix-non-exhaustive.yaml
  crates/santa-cli/src/errors.rs
  crates/sickle/src/error.rs
Due: Santa CLI, Sickle CCL Parser

refactor(santa-data): replace glob re-exports with explicit exports
  .changes/unreleased/santa-data-refactor-reexports.yaml
  crates/santa-data/src/lib.rs
Due: Santa Data

fix(sickle): tighten is_list_syntax() to require space after equals
  .changes/unreleased/sickle-fix-is-list-syntax.yaml
  crates/sickle/src/de.rs
Due: Sickle CCL Parser

fix(santa-data): remove unimplemented parse_ccl() from public API
  .changes/unreleased/santa-data-fix-parse-ccl.yaml
  crates/santa-data/src/lib.rs
  crates/santa-data/src/parser.rs
  crates/santa-data/tests/integration_tests.rs
  crates/santa-data/tests/parser_tests.rs
Due: Santa Data

refactor(santa-data): remove duplicate config loading API
  .changes/unreleased/santa-data-refactor-config-api.yaml
  crates/santa-data/src/config.rs
  crates/santa-data/src/lib.rs
Due: Santa Data

docs(santa-data): add doc comments to model types
  .changes/unreleased/santa-data-docs-model-types.yaml
  crates/santa-data/src/models.rs
Due: Santa Data

Path conditions:
  Santa CLI: any of: crates/santa-cli/src/**, but not: **/tests/, **/benches/, **/examples/, **/tests.rs, **/test_*.rs, **/test_helpers.rs
  Santa Data: any of: crates/santa-data/src/**, but not: **/tests/, **/benches/, **/examples/, **/tests.rs, **/test_*.rs, **/test_helpers.rs
  Sickle CCL Parser: any of: crates/sickle/src/**, but not: **/tests/, **/benches/, **/examples/, **/tests.rs, **/test_*.rs, **/test_helpers.rs
