Repository tylerbutler/santa: changes, and which Codecov flags are due for each by the changed paths.
All: Santa CLI, Santa Data, Sickle CCL Parser

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    after_n_builds: 2 # Wait for both unittests and datadriven uploads
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 1%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  individual_components:
    - component_id: santa-cli
      name: Santa CLI
      paths:
        - crates/santa-cli/src/**

    - component_id: santa-data
      name: Santa Data
      paths:
        - crates/santa-data/src/**

    - component_id: sickle
      name: Sickle CCL Parser
      paths:
        - crates/sickle/src/**

flag_management:
  default_rules:
    carryforward: false
  individual_flags:
    # Coverage from all tests except data-driven tests
    - name: unittests
      carryforward: false

    # Coverage from sickle's data-driven test suite only
    - name: datadriven
      carryforward: false

comment:
  layout: "reach,diff,flags,tree,components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

ignore:
  - "**/tests/"
  - "**/benches/"
  - "**/examples/"
  - "**/tests.rs"
  - "**/test_*.rs"
  - "**/test_helpers.rs"

chore: release
  Cargo.lock
  Cargo.toml
  crates/santa-cli/Cargo.toml
  crates/santa-data/Cargo.toml
  crates/sickle/Cargo.toml
Due: none

build: migrate from release-plz to changie for changelog management
  .changes/.gitkeep
  .changes/santa-data/v0.3.2.md
  .changes/santa/v0.3.2.md
  .changes/sickle/v0.1.3.md
  .changes/unreleased/.gitkeep
  .changie.yaml
  .github/workflows/auto-tag.yml
  .github/workflows/release-plz.yml
  .github/workflows/release.yml
  justfile
  mise.toml
  release-plz.toml
Due: none

fix: use crate-local readme paths instead of workspace inheritance
  crates/santa-cli/Cargo.toml
  crates/santa-data/Cargo.toml
Due: none

fix(ci): use stat for main branch binary size measurement
  .github/workflows/pr.yml
Due: none

ci: add manual binary size comparison (#84)
  .github/workflows/pr.yml
  crates/santa-cli/Cargo.toml
  crates/santa-data/Cargo.toml
  justfile
  mise.toml
  scripts/binary-size-diff.py
Due: none

build: update tiny-update-check to v1
  Cargo.lock
  crates/santa-cli/Cargo.toml
  crates/santa-cli/src/main.rs
Due: Santa CLI

build: drop rustls feature from tiny-update-check
  Cargo.lock
  crates/santa-cli/Cargo.toml
Due: none

feat: add crates.io update checker (#80)
  .github/workflows/membrowse-comment.yml
  .github/workflows/membrowse-onboard.yml
  .github/workflows/membrowse-report.yml
  Cargo.lock
  crates/santa-cli/Cargo.toml
  crates/santa-cli/src/main.rs
Due: Santa CLI

add test data 0.5.0
  crates/sickle/tests/test_data/api_advanced_processing.json
  crates/sickle/tests/test_data/api_comments.json
  crates/sickle/tests/test_data/api_core_ccl_hierarchy.json
  crates/sickle/tests/test_data/api_core_ccl_integration.json
  crates/sickle/tests/test_data/api_core_ccl_parsing.json
  crates/sickle/tests/test_data/api_edge_cases.json
  crates/sickle/tests/test_data/api_errors.json
  crates/sickle/tests/test_data/api_fuzz_special_chars_seed1.json
  crates/sickle/tests/test_data/api_fuzz_special_chars_seed42.json
  crates/sickle/tests/test_data/api_fuzz_special_chars_seed49.json
  crates/sickle/tests/test_data/api_fuzz_special_chars_seed99.json
  crates/sickle/tests/test_data/api_list_access.json
  crates/sickle/tests/test_data/api_proposed_behavior.json
  crates/sickle/tests/test_data/api_reference_compliant.json
  crates/sickle/tests/test_data/api_typed_access.json
  crates/sickle/tests/test_data/api_whitespace_behaviors.json
  crates/sickle/tests/test_data/property_algebraic.json
  crates/sickle/tests/test_data/property_round_trip.json
Due: none

fix(sickle): allow special characters in CCL map keys
  .changes/unreleased/sickle-Fixed-20260217-155847.yaml
  crates/sickle/src/lib.rs
Due: Sickle CCL Parser

fix(sickle): allow special characters in CCL map keys (#87)
  .changes/unreleased/sickle-Fixed-20260217-155847.yaml
  crates/sickle/src/lib.rs
  crates/sickle/tests/test_data/api_advanced_processing.json
  crates/sickle/tests/test_data/api_comments.json
  crates/sickle/tests/test_data/api_core_ccl_hierarchy.json
  crates/sickle/tests/test_data/api_core_ccl_integration.json
  crates/sickle/tests/test_data/api_core_ccl_parsing.json
  crates/sickle/tests/test_data/api_edge_cases.json
  crates/sickle/tests/test_data/api_errors.json
  crates/sickle/tests/test_data/api_fuzz_special_chars_seed1.json
  crates/sickle/tests/test_data/api_fuzz_special_chars_seed42.json
  crates/sickle/tests/test_data/api_fuzz_special_chars_seed49.json
  crates/sickle/tests/test_data/api_fuzz_special_chars_seed99.json
  crates/sickle/tests/test_data/api_list_access.json
  crates/sickle/tests/test_data/api_proposed_behavior.json
  crates/sickle/tests/test_data/api_reference_compliant.json
  crates/sickle/tests/test_data/api_typed_access.json
  crates/sickle/tests/test_data/api_whitespace_behaviors.json
  crates/sickle/tests/test_data/property_algebraic.json
  crates/sickle/tests/test_data/property_round_trip.json
Due: Sickle CCL Parser

chore(release): sickle-v0.1.4
  .changes/sickle/v0.1.4.md
  .changes/unreleased/sickle-Fixed-20260217-155847.yaml
  crates/santa-cli/CHANGELOG.md
  crates/santa-data/CHANGELOG.md
Due: none

fix(changie): preserve pre-migration changelog history
  .changes/header.md
  .changes/santa-data/v0.3.2.md
  .changes/santa/v0.3.2.md
  .changes/sickle/v0.1.3.md
  .changie.yaml
Due: none

fix(sickle): use lexical sort for reference_compliant duplicate keys
  crates/sickle/src/lib.rs
  crates/sickle/tests/integration_tests.rs
Due: Sickle CCL Parser

fix(ci): enforce LF line endings via .gitattributes
  .gitattributes
Due: none

fix(sickle): add from_str_with_options and normalize CRLF in santa
  crates/santa-data/src/lib.rs
  crates/sickle/src/de.rs
  crates/sickle/src/lib.rs
Due: Santa Data, Sickle CCL Parser

docs: add changelog entries for sickle and santa-data fixes
  .changes/unreleased/santa-data-Fixed-20260217-190002.yaml
  .changes/unreleased/sickle-Added-20260217-190001.yaml
  .changes/unreleased/sickle-Fixed-20260217-190000.yaml
Due: none

format
  crates/santa-data/src/lib.rs
Due: Santa Data

fix(sickle): fix failures on macOS and Windows (#90)
  .changes/unreleased/santa-data-Fixed-20260217-190002.yaml
  .changes/unreleased/sickle-Added-20260217-190001.yaml
  .changes/unreleased/sickle-Fixed-20260217-190000.yaml
  .gitattributes
  crates/santa-data/src/lib.rs
  crates/sickle/src/de.rs
  crates/sickle/src/lib.rs
  crates/sickle/tests/integration_tests.rs
Due: Santa Data, Sickle CCL Parser

chore(release): santa-data-v0.3.3, sickle-v0.2.0
  .changes/santa-data/v0.3.3.md
  .changes/sickle/v0.2.0.md
  .changes/unreleased/santa-data-Fixed-20260217-190002.yaml
  .changes/unreleased/sickle-Added-20260217-190001.yaml
  .changes/unreleased/sickle-Fixed-20260217-155847.yaml
  .changes/unreleased/sickle-Fixed-20260217-190000.yaml
  crates/santa-cli/CHANGELOG.md
  crates/santa-data/CHANGELOG.md
  crates/sickle/CHANGELOG.md
Due: none

fix(sickle): clean up dead code, no-op logic, and debug output
  crates/sickle/src/lib.rs
  crates/sickle/src/model.rs
  crates/sickle/src/parser.rs
  crates/sickle/src/ser.rs
Due: Sickle CCL Parser

fix(sickle): clean up dead code, no-op logic, and debug output (#97)
  crates/sickle/src/lib.rs
  crates/sickle/src/model.rs
  crates/sickle/src/parser.rs
  crates/sickle/src/ser.rs
Due: Sickle CCL Parser

feat(sickle): implement CCL print and round_trip functions
  crates/sickle/src/lib.rs
  crates/sickle/src/parser.rs
  crates/sickle/src/printer.rs
  crates/sickle/tests/common/mod.rs
  crates/sickle/tests/data_driven_tests.rs
  crates/sickle/tests/test_data/api_advanced_processing.json
  crates/sickle/tests/test_data/api_comments.json
  crates/sickle/tests/test_data/api_core_ccl_hierarchy.json
  crates/sickle/tests/test_data/api_core_ccl_integration.json
  crates/sickle/tests/test_data/api_core_ccl_parsing.json
  crates/sickle/tests/test_data/api_edge_cases.json
  crates/sickle/tests/test_data/api_errors.json
  crates/sickle/tests/test_data/api_fuzz_special_chars_seed1.json
  crates/sickle/tests/test_data/api_fuzz_special_chars_seed42.json
  crates/sickle/tests/test_data/api_fuzz_special_chars_seed49.json
  crates/sickle/tests/test_data/api_fuzz_special_chars_seed99.json
  crates/sickle/tests/test_data/api_list_access.json
  crates/sickle/tests/test_data/api_proposed_behavior.json
  crates/sickle/tests/test_data/api_reference_compliant.json
  crates/sickle/tests/test_data/api_typed_access.json
  crates/sickle/tests/test_data/api_whitespace_behaviors.json
  crates/sickle/tests/test_data/property_algebraic.json
  crates/sickle/tests/test_data/property_round_trip.json
Due: Sickle CCL Parser

feat(sickle): add delimiter_prefer_spaced strategy for keys containing =
  crates/sickle/src/lib.rs
  crates/sickle/src/options.rs
  crates/sickle/src/parser.rs
  crates/sickle/tests/common/mod.rs
  crates/sickle/tests/data_driven_tests.rs
  crates/sickle/tests/test_data/api_edge_cases.json
Due: Sickle CCL Parser

update test data
  crates/sickle/tests/test_data/api_advanced_processing.json
  crates/sickle/tests/test_data/api_comments.json
  crates/sickle/tests/test_data/api_core_ccl_hierarchy.json
  crates/sickle/tests/test_data/api_core_ccl_integration.json
  crates/sickle/tests/test_data/api_core_ccl_parsing.json
  crates/sickle/tests/test_data/api_edge_cases.json
  crates/sickle/tests/test_data/api_errors.json
  crates/sickle/tests/test_data/api_fuzz_special_chars_seed1.json
  crates/sickle/tests/test_data/api_fuzz_special_chars_seed42.json
  crates/sickle/tests/test_data/api_fuzz_special_chars_seed49.json
  crates/sickle/tests/test_data/api_fuzz_special_chars_seed99.json
  crates/sickle/tests/test_data/api_list_access.json
  crates/sickle/tests/test_data/api_proposed_behavior.json
  crates/sickle/tests/test_data/api_reference_compliant.json
  crates/sickle/tests/test_data/api_typed_access.json
  crates/sickle/tests/test_data/api_whitespace_behaviors.json
  crates/sickle/tests/test_data/property_algebraic.json
  crates/sickle/tests/test_data/property_round_trip.json
Due: none

format
  crates/sickle/src/parser.rs
  crates/sickle/src/printer.rs
  crates/sickle/tests/data_driven_tests.rs
Due: Sickle CCL Parser

fix(sickle): resolve 10 data-driven test failures
  crates/sickle/src/lib.rs
  crates/sickle/src/printer.rs
  crates/sickle/tests/common/mod.rs
Due: Sickle CCL Parser

chore: add issue refs for skipped test data inconsistencies
  crates/sickle/tests/common/mod.rs
Due: none

ci: add changelog PR check, dependabot config, and changelog entries
  .changes/unreleased/sickle-Added-20260305-120000.yaml
  .changes/unreleased/sickle-Added-20260305-120001.yaml
  .changes/unreleased/sickle-Added-20260305-120002.yaml
  .github/dependabot.yml
  .github/workflows/close-generated-dependabot-prs.yml
  .github/workflows/pr.yml
Due: none

docs: improve changelog entries for user applicability
  .changes/unreleased/sickle-Fixed-20260217-155847.yaml
  .changes/unreleased/sickle-Fixed-20260217-190000.yaml
Due: none

feat(sickle): add print/round_trip functions, delimiter_prefer_spaced, and CI improvements (#98)
  .changes/unreleased/sickle-Added-20260305-120000.yaml
  .changes/unreleased/sickle-Added-20260305-120001.yaml
  .changes/unreleased/sickle-Added-20260305-120002.yaml
  .changes/unreleased/sickle-Fixed-20260217-155847.yaml
  .changes/unreleased/sickle-Fixed-20260217-190000.yaml
  .github/dependabot.yml
  .github/workflows/close-generated-dependabot-prs.yml
  .github/workflows/pr.yml
  crates/sickle/src/lib.rs
  crates/sickle/src/options.rs
  crates/sickle/src/parser.rs
  crates/sickle/src/printer.rs
  crates/sickle/tests/common/mod.rs
  crates/sickle/tests/data_driven_tests.rs
  crates/sickle/tests/test_data/api_advanced_processing.json
  crates/sickle/tests/test_data/api_comments.json
  crates/sickle/tests/test_data/api_core_ccl_hierarchy.json
  crates/sickle/tests/test_data/api_core_ccl_integration.json
  crates/sickle/tests/test_data/api_core_ccl_parsing.json
  crates/sickle/tests/test_data/api_edge_cases.json
  crates/sickle/tests/test_data/api_errors.json
  crates/sickle/tests/test_data/api_fuzz_special_chars_seed1.json
  crates/sickle/tests/test_data/api_fuzz_special_chars_seed42.json
  crates/sickle/tests/test_data/api_fuzz_special_chars_seed49.json
  crates/sickle/tests/test_data/api_fuzz_special_chars_seed99.json
  crates/sickle/tests/test_data/api_list_access.json
  crates/sickle/tests/test_data/api_proposed_behavior.json
  crates/sickle/tests/test_data/api_reference_compliant.json
  crates/sickle/tests/test_data/api_typed_access.json
  crates/sickle/tests/test_data/api_whitespace_behaviors.json
  crates/sickle/tests/test_data/property_algebraic.json
  crates/sickle/tests/test_data/property_round_trip.json
Due: Sickle CCL Parser

ci: use cached artifact for binary size comparison
  .github/workflows/pr.yml
Due: none

ci: use cached artifact for binary size comparison (#104)
  .github/workflows/pr.yml
Due: none

chore(release): santa-data-v0.3.3, sickle-v0.2.0
  .changes/santa-data/v0.3.3.md
  .changes/sickle/v0.2.0.md
  .changes/unreleased/santa-data-Fixed-20260217-190002.yaml
  .changes/unreleased/sickle-Added-20260217-190001.yaml
  .changes/unreleased/sickle-Added-20260305-120000.yaml
  .changes/unreleased/sickle-Added-20260305-120001.yaml
  .changes/unreleased/sickle-Added-20260305-120002.yaml
  .changes/unreleased/sickle-Fixed-20260217-155847.yaml
  .changes/unreleased/sickle-Fixed-20260217-190000.yaml
  crates/santa-cli/CHANGELOG.md
  crates/santa-data/CHANGELOG.md
  crates/sickle/CHANGELOG.md
Due: none

docs: add sickle CLI design spec
  docs/superpowers/specs/2026-03-16-sickle-cli-design.md
Due: none

docs: update sickle CLI spec after review
  docs/superpowers/specs/2026-03-16-sickle-cli-design.md
Due: none

docs: add sickle CLI implementation plan
  docs/superpowers/plans/2026-03-16-sickle-cli.md
Due: none

feat(sickle-cli): scaffold new CLI crate
  Cargo.toml
  crates/sickle-cli/Cargo.toml
  crates/sickle-cli/src/commands/convert.rs
  crates/sickle-cli/src/commands/fmt.rs
  crates/sickle-cli/src/commands/mod.rs
  crates/sickle-cli/src/commands/parse.rs
  crates/sickle-cli/src/commands/validate.rs
  crates/sickle-cli/src/commands/view.rs
  crates/sickle-cli/src/input.rs
  crates/sickle-cli/src/main.rs
Due: none
