Repository tylerbutler/santa: changes, and which Codecov flags are due for each by the changed paths.
All: Santa CLI, Santa Data, Sickle CCL Parser

build(deps): bump workspace dependencies; reqwest 0.13 rustls feature rename (#228)
  Cargo.lock
  crates/santa-cli/Cargo.toml
  crates/sickle-cli/Cargo.toml
  crates/sickle/Cargo.toml
  deny.toml
Due: none

fix(santa-cli): stop leaking anyhow::Error through SantaError::Config (#167)
  .changes/unreleased/santa-fix-leaking-anyhow.yaml
  crates/santa-cli/src/commands.rs
  crates/santa-cli/src/configuration.rs
  crates/santa-cli/src/errors.rs
Due: Santa CLI

test(sickle): skip unimplemented list_coercion_enabled cases
  crates/sickle/tests/common/mod.rs
Due: none

feat(sickle): standardize ccl-test-data download with version tracking (#139)
  .github/workflows/coverage.yml
  .github/workflows/pr.yml
  .github/workflows/test.yml
  crates/sickle/src/lib.rs
  crates/sickle/src/printer.rs
  crates/sickle/tests/common/mod.rs
  crates/sickle/tests/test_data/.gitignore
  crates/sickle/tests/test_data/.pinned-version
  crates/sickle/tests/test_data/README.md
  crates/sickle/tests/test_data/api_advanced_processing.json
  crates/sickle/tests/test_data/api_comments.json
  crates/sickle/tests/test_data/api_core_ccl_hierarchy.json
  crates/sickle/tests/test_data/api_core_ccl_integration.json
  crates/sickle/tests/test_data/api_core_ccl_parsing.json
  crates/sickle/tests/test_data/api_edge_cases.json
  crates/sickle/tests/test_data/api_errors.json
  crates/sickle/tests/test_data/api_fuzz_special_chars_seed1.json
  crates/sickle/tests/test_data/api_fuzz_special_chars_seed42.json
  crates/sickle/tests/test_data/api_fuzz_special_chars_seed49.json
  crates/sickle/tests/test_data/api_fuzz_special_chars_seed99.json
  crates/sickle/tests/test_data/api_list_access.json
  crates/sickle/tests/test_data/api_proposed_behavior.json
  crates/sickle/tests/test_data/api_reference_compliant.json
  crates/sickle/tests/test_data/api_typed_access.json
  crates/sickle/tests/test_data/api_whitespace_behaviors.json
  crates/sickle/tests/test_data/property_algebraic.json
  crates/sickle/tests/test_data/property_round_trip.json
  justfile
  mise.toml
Due: Sickle CCL Parser

feat(sickle): add update_str and edit_str document helpers (#227)
  .changes/unreleased/sickle-Added-20260627-091030.yaml
  crates/sickle/src/document.rs
  crates/sickle/src/lib.rs
  crates/sickle/tests/document_tests.rs
Due: Sickle CCL Parser

chore(release): santa-v0.4.0, santa-data-v0.5.0, sickle-v0.5.0
  .changes/santa-data/v0.5.0.md
  .changes/santa/v0.4.0.md
  .changes/sickle/v0.5.0.md
  .changes/unreleased/santa-chore-seal-traits.yaml
  .changes/unreleased/santa-data-docs-model-types.yaml
  .changes/unreleased/santa-data-fix-non-exhaustive-structs.yaml
  .changes/unreleased/santa-data-refactor-reexports.yaml
  .changes/unreleased/santa-fix-leaking-anyhow.yaml
  .changes/unreleased/santa-fix-non-exhaustive-structs.yaml
  .changes/unreleased/sickle-Added-20260627-091030.yaml
  .changes/unreleased/sickle-fix-is-list-syntax.yaml
  .changes/unreleased/sickle-fix-recursion-limit.yaml
  Cargo.lock
  crates/santa-cli/CHANGELOG.md
  crates/santa-cli/Cargo.toml
  crates/santa-data/CHANGELOG.md
  crates/santa-data/Cargo.toml
  crates/sickle/CHANGELOG.md
  crates/sickle/Cargo.toml
Due: none

fixes
  crates/santa-cli/src/configuration.rs
  crates/santa-data/src/lib.rs
Due: Santa CLI, Santa Data

build(deps): refresh workspace lockfile
  Cargo.lock
Due: none

build(deps): refresh workspace lockfile (#238)
  Cargo.lock
Due: none

feat(sickle): add project website
  .changes/unreleased/sickle-Added-20260823-005859.yaml
  crates/sickle/.impeccable/.gitignore
  crates/sickle/.impeccable/design.json
  crates/sickle/.impeccable/surfaces/website-src-pages-index-astro.md
  crates/sickle/DESIGN.md
  crates/sickle/PRODUCT.md
  crates/sickle/website/.gitignore
  crates/sickle/website/astro.config.mjs
  crates/sickle/website/package.json
  crates/sickle/website/pnpm-lock.yaml
  crates/sickle/website/src/layouts/Layout.astro
  crates/sickle/website/src/pages/index.astro
  crates/sickle/website/src/styles/global.css
  crates/sickle/website/tsconfig.json
Due: none

feat(sickle): add project website (#239)
  .changes/unreleased/sickle-Added-20260823-005859.yaml
  crates/sickle/.impeccable/.gitignore
  crates/sickle/.impeccable/design.json
  crates/sickle/.impeccable/surfaces/website-src-pages-index-astro.md
  crates/sickle/DESIGN.md
  crates/sickle/PRODUCT.md
  crates/sickle/website/.gitignore
  crates/sickle/website/astro.config.mjs
  crates/sickle/website/package.json
  crates/sickle/website/pnpm-lock.yaml
  crates/sickle/website/src/layouts/Layout.astro
  crates/sickle/website/src/pages/index.astro
  crates/sickle/website/src/styles/global.css
  crates/sickle/website/tsconfig.json
Due: none

feat(sickle): redesign website
  .changes/unreleased/sickle-Changed-20260823-082910.yaml
  crates/sickle/.impeccable/design.json
  crates/sickle/.impeccable/surfaces/website-src-pages-index-astro.md
  crates/sickle/DESIGN.md
  crates/sickle/website/astro.config.mjs
  crates/sickle/website/package.json
  crates/sickle/website/pnpm-lock.yaml
  crates/sickle/website/src/layouts/Layout.astro
  crates/sickle/website/src/pages/index.astro
  crates/sickle/website/src/styles/global.css
Due: none

feat(sickle): use illustrated logo
  crates/sickle/.impeccable/design.json
  crates/sickle/DESIGN.md
  crates/sickle/website/public/sickle-logo.webp
  crates/sickle/website/public/sickle-logo.webp.json
  crates/sickle/website/src/pages/index.astro
  crates/sickle/website/src/styles/global.css
Due: none

style(sickle): simplify website palette
  crates/sickle/.impeccable/design.json
  crates/sickle/.impeccable/surfaces/website-src-pages-index-astro.md
  crates/sickle/DESIGN.md
  crates/sickle/website/src/layouts/Layout.astro
  crates/sickle/website/src/pages/index.astro
  crates/sickle/website/src/styles/global.css
Due: none

feat(sickle): redesign website (#241)
  .changes/unreleased/sickle-Changed-20260823-082910.yaml
  crates/sickle/.impeccable/design.json
  crates/sickle/.impeccable/surfaces/website-src-pages-index-astro.md
  crates/sickle/DESIGN.md
  crates/sickle/website/astro.config.mjs
  crates/sickle/website/package.json
  crates/sickle/website/pnpm-lock.yaml
  crates/sickle/website/public/sickle-logo.webp
  crates/sickle/website/public/sickle-logo.webp.json
  crates/sickle/website/src/layouts/Layout.astro
  crates/sickle/website/src/pages/index.astro
  crates/sickle/website/src/styles/global.css
Due: none

chore(release): sickle-v0.6.0
  .changes/sickle/v0.6.0.md
  .changes/unreleased/sickle-Added-20260823-005859.yaml
  .changes/unreleased/sickle-Changed-20260823-082910.yaml
  Cargo.lock
  crates/santa-cli/Cargo.toml
  crates/santa-data/Cargo.toml
  crates/sickle/CHANGELOG.md
  crates/sickle/Cargo.toml
Due: none

Path conditions:
  Santa CLI: any of: crates/santa-cli/src/**, but not: **/tests/, **/benches/, **/examples/, **/tests.rs, **/test_*.rs, **/test_helpers.rs
  Santa Data: any of: crates/santa-data/src/**, but not: **/tests/, **/benches/, **/examples/, **/tests.rs, **/test_*.rs, **/test_helpers.rs
  Sickle CCL Parser: any of: crates/sickle/src/**, but not: **/tests/, **/benches/, **/examples/, **/tests.rs, **/test_*.rs, **/test_helpers.rs
