Repository tylerbutler/santa: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, santa-cli, santa-data, sickle, Santa CLI, Santa Data, Sickle CCL Parser

feat(sickle): add centralized feature registry
  crates/sickle/Cargo.toml
  crates/sickle/data/ccl-features.toml
  crates/sickle/src/lib.rs
  crates/sickle/tests/integration_tests.rs
  crates/sickle/tests/test_data/capabilities.md
Due: unittests, sickle, Sickle CCL Parser

refactor(sickle): clarify functions vs behaviors vs features
  crates/sickle/data/ccl-registry.toml
  crates/sickle/src/lib.rs
  crates/sickle/tests/test_data/capabilities.md
  crates/sickle/tests/test_helpers.rs
Due: unittests, sickle, Sickle CCL Parser

feat(sickle): add detailed test failure reporting
  crates/sickle/tests/integration_tests.rs
Due: unittests, sickle, Sickle CCL Parser

docs(sickle): clarify mutually exclusive configuration behaviors
  crates/sickle/data/ccl-registry.toml
  crates/sickle/tests/integration_tests.rs
Due: unittests, sickle, Sickle CCL Parser

test fixes
  crates/santa-cli/data/known_packages.ccl
  crates/santa-data/src/lib.rs
  crates/sickle/src/de.rs
  crates/sickle/src/lib.rs
  crates/sickle/tests/integration_tests.rs
  crates/sickle/tests/test_helpers.rs
Due: unittests, santa-cli, santa-data, sickle, Santa CLI, Santa Data, Sickle CCL Parser

update data
  crates/sickle/tests/test_data/api_edge_cases.json
  crates/sickle/tests/test_data/api_proposed_behavior.json
Due: unittests, sickle, Sickle CCL Parser

feat(sickle): implement dual-mode parse_dedented with 100% test coverage
  crates/santa-data/src/lib.rs
  crates/sickle/examples/basic_parsing.rs
  crates/sickle/src/de.rs
  crates/sickle/src/lib.rs
  crates/sickle/src/model.rs
  crates/sickle/src/parser.rs
  crates/sickle/tests/integration_tests.rs
  crates/sickle/tests/test_data/capabilities.md
  crates/sickle/tests/test_helpers.rs
Due: unittests, santa-data, sickle, Santa Data, Sickle CCL Parser

wip
  crates/sickle/tests/integration_tests.rs
  crates/sickle/tests/test_helpers.rs
Due: unittests, sickle, Sickle CCL Parser

refactor(sickle): replace static registry with dynamic test-driven generation
  crates/sickle/REGISTRY.md
  crates/sickle/data/ccl-registry.toml
  crates/sickle/scripts/generate_registry.py
  crates/sickle/src/lib.rs
  crates/sickle/tests/test_data/capabilities.md
  justfile
Due: unittests, sickle, Sickle CCL Parser

refactor(sickle): rename registry to capabilities and move to docs/
  crates/sickle/docs/capabilities.md
  crates/sickle/scripts/generate_registry.py
  crates/sickle/src/lib.rs
  justfile
Due: unittests, sickle, Sickle CCL Parser

fix(deps): remove unmaintained json5 dependency
  Cargo.lock
  Cargo.toml
  crates/santa-cli/Cargo.toml
Due: unittests, santa-cli, Santa CLI

fix(deps): remove unmaintained json5 dependency (#30)
  Cargo.lock
  Cargo.toml
  crates/santa-cli/Cargo.toml
Due: unittests, santa-cli, Santa CLI

chore: release
  Cargo.lock
  Cargo.toml
  crates/santa-cli/CHANGELOG.md
  crates/santa-cli/Cargo.toml
  crates/santa-data/CHANGELOG.md
  crates/sickle/CHANGELOG.md
Due: unittests, santa-cli, santa-data, sickle, Santa CLI, Santa Data, Sickle CCL Parser

refactor(sickle): rename generate_registry.py to generate_capabilities.py
  crates/sickle/scripts/generate_capabilities.py
  justfile
Due: unittests, sickle, Sickle CCL Parser

refactor(sickle): migrate Model from enum to recursive IndexMap
  Cargo.lock
  crates/sickle/Cargo.toml
  crates/sickle/docs/capabilities.md
  crates/sickle/examples/basic_parsing.rs
  crates/sickle/src/de.rs
  crates/sickle/src/lib.rs
  crates/sickle/src/model.rs
  crates/sickle/src/parser.rs
  crates/sickle/tests/integration_tests.rs
  crates/sickle/tests/test_data/api_edge_cases.json
  crates/sickle/tests/test_data/api_proposed_behavior.json
  crates/sickle/tests/test_helpers.rs
Due: unittests, sickle, Sickle CCL Parser

refactor(sickle): make type checking methods internal
  crates/sickle/src/model.rs
Due: unittests, sickle, Sickle CCL Parser

split data driven tests
  crates/santa-data/src/lib.rs
  crates/sickle/examples/basic_parsing.rs
  crates/sickle/src/de.rs
  crates/sickle/src/lib.rs
  crates/sickle/src/model.rs
  crates/sickle/tests/data_driven_tests.rs
  crates/sickle/tests/integration_tests.rs
  crates/sickle/tests/test_helpers.rs
Due: unittests, santa-data, sickle, Santa Data, Sickle CCL Parser

feat(sickle): add Serialize/Deserialize support to Model
  crates/santa-cli/src/configuration/watcher.rs
  crates/santa-data/src/lib.rs
  crates/sickle/src/de.rs
  crates/sickle/src/model.rs
  crates/sickle/tests/capabilities.rs
  crates/sickle/tests/data_driven_tests.rs
  crates/sickle/tests/test_helpers.rs
Due: unittests, santa-cli, santa-data, sickle, Santa CLI, Santa Data, Sickle CCL Parser

fix(data): workaround sickle parser bug for single-source packages
  crates/santa-cli/src/configuration/watcher.rs
  crates/santa-cli/src/data/loaders.rs
Due: unittests, santa-cli, Santa CLI

format
  crates/santa-data/src/lib.rs
  crates/sickle/examples/basic_parsing.rs
  crates/sickle/tests/capabilities.rs
  crates/sickle/tests/data_driven_tests.rs
  crates/sickle/tests/integration_tests.rs
  crates/sickle/tests/test_helpers.rs
Due: unittests, santa-data, sickle, Santa Data, Sickle CCL Parser

refactor(sickle): make Model API cleaner and more encapsulated
  crates/sickle/examples/basic_parsing.rs
  crates/sickle/src/de.rs
  crates/sickle/src/lib.rs
  crates/sickle/src/model.rs
  crates/sickle/tests/data_driven_tests.rs
  crates/sickle/tests/integration_tests.rs
Due: unittests, sickle, Sickle CCL Parser

fix: use Model public API, fix single-item list deserialization, remove dead code
  Cargo.lock
  crates/santa-cli/Cargo.toml
  crates/santa-data/src/lib.rs
  crates/sickle/Cargo.toml
  crates/sickle/src/de.rs
  crates/sickle/tests/test_helpers.rs
Due: unittests, santa-cli, santa-data, sickle, Santa CLI, Santa Data, Sickle CCL Parser

refactor(sickle): unify test filtering with HashSet-based ImplementationConfig
  crates/sickle/tests/capabilities.rs
  crates/sickle/tests/data_driven_tests.rs
  crates/sickle/tests/test_helpers.rs
Due: unittests, sickle, Sickle CCL Parser

fix(sickle): add reference_compliant to supported variants
  crates/sickle/tests/test_helpers.rs
Due: none

format
  crates/sickle/tests/data_driven_tests.rs
  crates/sickle/tests/test_helpers.rs
Due: unittests, sickle, Sickle CCL Parser

fixes
  crates/sickle/src/model.rs
  crates/sickle/src/parser.rs
Due: unittests, sickle, Sickle CCL Parser

refactor(sickle): implement CCL test runner design principles
  crates/sickle/tests/data_driven_tests.rs
  crates/sickle/tests/test_helpers.rs
Due: unittests, sickle, Sickle CCL Parser

docs(sickle): add comprehensive test failure analysis
  claudedocs/test-failures-analysis.md
  crates/sickle/src/de.rs
Due: unittests, sickle, Sickle CCL Parser

updates
  crates/sickle/Cargo.toml
  crates/sickle/src/model.rs
  crates/sickle/tests/test_data/api_list_access.json
  crates/sickle/tests/test_helpers.rs
Due: unittests, sickle, Sickle CCL Parser

feat(sickle): implement reference-compliant bare list syntax and ordering
  claudedocs/ccl-test-fixing-prompt.md
  crates/sickle/Cargo.toml
  crates/sickle/src/lib.rs
  crates/sickle/src/model.rs
  crates/sickle/tests/test_data/api_list_access.json
  test-output.txt
Due: unittests, sickle, Sickle CCL Parser

fix(sickle): skip problematic reference_compliant tests and adjust feature defaults
  crates/sickle/Cargo.toml
  crates/sickle/tests/test_helpers.rs
Due: unittests, sickle, Sickle CCL Parser

docs: update session notes with test data issue and final results
  claudedocs/ccl-test-fixing-prompt.md
Due: none

chore: remove debug test code
  crates/sickle/src/lib.rs
Due: unittests, sickle, Sickle CCL Parser

updates
  crates/sickle/src/parser.rs
  crates/sickle/tests/test_helpers.rs
Due: unittests, sickle, Sickle CCL Parser

docs
  crates/sickle/docs/capabilities.md
Due: unittests, sickle, Sickle CCL Parser

updates
  claudedocs/ccl-test-fixing-prompt.md
  crates/sickle/src/lib.rs
  crates/sickle/src/parser.rs
Due: unittests, sickle, Sickle CCL Parser

fix(sickle): resolve cfg attribute conflicts in as_list method
  crates/sickle/docs/capabilities.md
  crates/sickle/src/lib.rs
  crates/sickle/src/model.rs
  crates/sickle/tests/test_helpers.rs
Due: unittests, sickle, Sickle CCL Parser

chore(sickle): fix clippy warnings
  crates/sickle/src/model.rs
  crates/sickle/src/parser.rs
  crates/sickle/tests/test_helpers.rs
Due: unittests, sickle, Sickle CCL Parser

chore(sickle): fix unused-mut warning in build_model
  crates/sickle/src/lib.rs
Due: unittests, sickle, Sickle CCL Parser

refactor(sickle): remove unit tests redundant with data-driven tests
  crates/sickle/src/lib.rs
  crates/sickle/src/parser.rs
Due: unittests, sickle, Sickle CCL Parser

Path conditions:
  unittests: any of: crates/, but not: tests/, benches/, **/tests.rs, **/test_*.rs
  santa-cli: any of: crates/santa-cli/, but not: tests/, benches/, **/tests.rs, **/test_*.rs
  santa-data: any of: crates/santa-data/, but not: tests/, benches/, **/tests.rs, **/test_*.rs
  sickle: any of: crates/sickle/, but not: tests/, benches/, **/tests.rs, **/test_*.rs
  Santa CLI: any of: crates/santa-cli/**, but not: tests/, benches/, **/tests.rs, **/test_*.rs
  Santa Data: any of: crates/santa-data/**, but not: tests/, benches/, **/tests.rs, **/test_*.rs
  Sickle CCL Parser: any of: crates/sickle/**, but not: tests/, benches/, **/tests.rs, **/test_*.rs
